@page
@using DailyReport.Models
@model DailyReport.Pages.Admin.PersonelManegementModel
@{
}
<div class="container">
    @{
        foreach(Personel pers in Model.personels){
            <form method="post">
                <div class="row pt-2">
                    <div class="col-4">
                        <input type="text" value="@pers.Name" class="form-control" asp-for="newPersonel.Name" />
                    </div>
                    <div class="col-3">
                        <input type="text" value="@pers.Phone" class="form-control" asp-for="newPersonel.Phone" />
                    </div>
                    <div class="col-2">
                        <input type="text" value="@pers.Department" class="form-control" asp-for="newPersonel.Department" />
                    </div>
                    <div class="col-2">
                        <select class="form-select" asp-for="newPersonel.PersType">
                            <option selected disabled>@pers.PersType</option>
                            @{
                                foreach (string s in Model.PType)
                                {
                                    <option value="@s">@s</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-2 d-none">
                        <input type="text" value="@pers.Id" class="form-control" asp-for="newPersonel.Id" />
                    </div>
                    <div class="col-1 d-print-none">
                        <input type="submit" value="&#128465" asp-page-handler="DeletePersonel" asp-route-id="@pers.Id"/>
                        <input type="submit" value="&#9998" asp-page-handler="UpdatePersonel"/>
                    </div>
                </div>
            </form>
        }
    }

    <div class="row">
        <div class="col-4"><h3>Добавить сотрудника</h3> </div>
    </div>
    <div class="row">
        <form method="post">
            <div class="col-4">
                <input type="text" placeholder="ФИО сотрудника" class="form-control" asp-for="newPersonel.Name" />
            </div>
            <div class="col-3">
                <input type="text" placeholder="Телефон" class="form-control" asp-for="newPersonel.Phone" />
            </div>
            <div class="col-2">
                <input type="text" placeholder="Отделение" class="form-control" asp-for="newPersonel.Department" />
            </div>
            <div class="col-2">
                <select class="form-select" asp-for="newPersonel.PersType">
                    <option selected disabled>Должность</option>
                    @{
                        foreach (string s in Model.PType)
                        {
                            <option value="@s">@s</option>
                        }
                    }
                </select>
            </div>
            <input type="submit" value="+" asp-page-handler="SavePersonel" />
        </form>
    </div>
</div>