@page
@using DailyReport.Models
@model DailyReport.Pages.Admin.ReportsModel
@{
}

<div class="container">
    @foreach (DepReport rep in Model._report)
    {
        <form method="post">
        <div class="row">
            <div class="col-2">
                @rep.Id.ToString()
                @rep.depNumber.ToString()
            </div>
        
            <div class="col-2">
                @rep.present.ToString()
            </div>
            <div class="col-2">
                @rep.date.ToString()
            </div>
            <div class="col-2">
                <input type="submit" value="&#128465" asp-page-handler="DeleteReport" asp-route-id="@rep.Id" />
            </div>

        </div>
        </form>
    }
</div>