@page
@using DailyReport.Models
@model DailyReport.Pages.Reports.DepReportModel
@{
    string msg, zone/*, alertMsg = string.Empty*/;
    if ((Model._report.depNumber == 90) || (Model._report.depNumber == 91)) msg = "ОРИТ";
    else if (Model._report.depNumber == 8) msg = "Дневной стационар";
    else if (Model._report.depNumber == 11) msg = " 1 отделения";
    else msg = Model._report.depNumber + " отделения";
    if ((Model._report.depNumber == 11) || (Model._report.depNumber == 91)) zone = "грязная ";
    else zone = "чистая ";
    ViewData["Title"] = "Сводка " + msg;
}

<div class="container">
    <div class="row">
        <div class="col-4">
            Сводка @msg @zone зона
        </div>
        <div class="col-4 offset-4" >
            Дата @Model.reportDate.ToString("dd.MM.yy")
        </div>
    </div>

    <form name="repForm" method="post">
        <table class="table mt-2  g-0 d-table table-sm ">
            <thead> 
                <tr>
                    <th scope="col"><input value="@Model._report.Id" type="number" name="id" class="invisible" />  </th>
                    <th scope="col">Взрослые</th>
                    <th scope="col">Дети</th>
                    
                </tr>
            </thead>
            <tr>
                <td scope="col">Состояло</td>
                <td scope="col"><input min="0" id="existed" oninput="CountSum()" value="@Model._report.existed" type="number" name="existed" asp-for="_report.existed" /></td>
                <td scope="col"><input min="0" id="existedChildrens" oninput="CountSumChildrens()" value="@Model._report.existedChildrens" type="number" name="existedChildrens" asp-for="_report.existedChildrens" /> </td>
                <th scope="col"><input value="@Model._report.date" name="date" type="datetime" class="invisible" asp-for="_report.date" />  </th>
            </tr>
            <tr>
                <td scope="col">Выбыло</td>
                @if ((Model._report.depNumber == 90) || (Model._report.depNumber == 91)){
                    <td scope="col"><input min="0" id="outcome" oninput="CountSum()" disabled value="@Model._report.outcome" type="number" name="outcome" asp-for="_report.outcome" /></td>
                    <td scope="col"><input min="0" id="outcomeChildrens" oninput="CountSumChildrens()" disabled value="@Model._report.outcomeChildrens" type="number" name="outcomeChildrens" asp-for="_report.outcomeChildrens" /> </td>
                }
                else{
                    <td scope="col"><input min="0" id="outcome" oninput="CountSum()"  value="@Model._report.outcome" type="number" name="outcome" asp-for="_report.outcome" /></td>
                    <td scope="col"><input min="0" id="outcomeChildrens" oninput="CountSumChildrens()"  value="@Model._report.outcomeChildrens" type="number" name="outcomeChildrens" asp-for="_report.outcomeChildrens" /> </td>
                }
                </tr> 
            <tr>
                <td scope="col">Поступило</td>
                @if ((Model._report.depNumber == 90) || (Model._report.depNumber == 91)){
                    <td scope="col"><input min="0" id="income" disabled oninput="CountSum()" value="@Model._report.income" type="number" name="income" asp-for="_report.income" /></td>
                    <td scope="col"><input min="0" id="incomeChildrens" disabled oninput="CountSumChildrens()" value="@Model._report.incomeChildrens" type="number" name="incomeChildrens" asp-for="_report.incomeChildrens" /> </td>
                }
                else{
                    <td scope="col"><input min="0" id="income"  oninput="CountSum()" value="@Model._report.income" type="number" name="income" asp-for="_report.income"/></td>
                    <td scope="col"><input min="0" id="incomeChildrens" oninput="CountSumChildrens()" value="@Model._report.incomeChildrens" type="number" name="incomeChildrens" asp-for="_report.incomeChildrens" /> </td>
                }
             </tr>
            <tr>
                <td scope="col">Переведено из отделения</td>
                <td scope="col"><input min="0" id="movedOutDep" oninput="CountSum()" value="@Model._report.movedOutDep" type="number" name="movedOutDep" asp-for="_report.movedOutDep" /></td>
                <td scope="col"><input min="0" id="movedOutDepChildrens" oninput="CountSumChildrens()" value="@Model._report.movedOutDepChildrens" type="number" name="movedOutDepChildrens" asp-for="_report.movedOutDepChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Переведено в отделение</td>
                <td scope="col"><input min="0" id="movedInDep" oninput="CountSum()" value="@Model._report.movedInDep" type="number" name="movedInDep" asp-for="_report.movedInDep" /></td>
                <td scope="col"><input min="0" id="movedInDepChildrens" oninput="CountSumChildrens()" value="@Model._report.movedInDepChildrens" type="number" name="movedInDepChildrens" asp-for="_report.movedInDepChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Умерло</td>
                <td scope="col"><input min="0" id="died" oninput="CountSum()" value="@Model._report.died" type="number" name="died" asp-for="_report.died" /></td>
                <td scope="col"><input min="0" id="diedChildrens" oninput="CountSumChildrens()" value="@Model._report.diedChildrens" type="number" name="diedChildrens" asp-for="_report.diedChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Состоит</td>
                <td scope="col"><input min="0" id="present" value="@Model._report.present" type="number" name="present" asp-for="_report.present" /></td>
                <td scope="col"><input min="0" id="presentChildrens"  value="@Model._report.presentChildrens" type="number" name="presentChildrens" asp-for="_report.presentChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Прикреплено в ОРИТ</td>
                <td scope="col"><input  min="0" value="@Model._report.attachedToORIT" type="number" name="attachedToORIT" asp-for="_report.attachedToORIT" /></td>
                <td scope="col"><input min="0" value="@Model._report.attachedToORITCildrens" type="number" name="attachedToORITCildrens" asp-for="_report.attachedToORITCildrens"/> </td>
            </tr>
            @*раздел кислорода*@
            <tr>
                <td scope="col">ИВЛ</td>
                <td scope="col"><input min="0" value="@Model._report.oIVL" type="number" name="oIVL" asp-for="_report.oIVL" /></td>
                <td scope="col"><input min="0" value="@Model._report.oIVLChildrens" type="number" name="oIVLChildrens" asp-for="_report.oIVLChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">НИВЛ</td>
                <td scope="col"><input min="0" value="@Model._report.oNIVL" type="number" name="oNIVL" asp-for="_report.oNIVL" /></td>
                <td scope="col"><input min="0" value="@Model._report.oNIVLChildrens" type="number" name="oNIVLChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">НИВЛ+ВПО</td>
                <td scope="col"><input min="0" value="@Model._report.oNIVLVPO" type="number" name="oNIVLVPO" asp-for="_report.oNIVLVPO"/></td>
                <td scope="col"><input min="0" value="@Model._report.oNIVLVPOChildrens" type="number" name="oNIVLVPOChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">НИВЛ+КМ</td>
                <td scope="col"><input min="0" value="@Model._report.oNIVLMask" type="number" name="oNIVLMask" asp-for="_report.oNIVLMask"/></td>
                <td scope="col"><input min="0" value="@Model._report.oNIVLMaskChildrens" type="number" name="oNIVLMaskChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Лицевая маска</td>
                <td scope="col"><input min="0" value="@Model._report.oMask" type="number" name="oMask" asp-for="_report.oMask"/></td>
                <td scope="col"><input min="0" value="@Model._report.oMaskChildren" type="number" name="oMaskChildren" /> </td>
            </tr>
                @* <tr>
                <td scope="col">Спонтанное дыхание</td>
                    <td scope="col"><input value="@Model._report.oBrease" type="number" name="oBrease" /></td>
                    <td scope="col"><input value="@Model._report.oBreaseChildrens" type="number" name="oBreaseChildrens" /> </td>
                </tr> *@
                @*админ рздел*@
             <tr>
                    <td scope="col">Беременные</td>
                    <td scope="col"><input min="0" value="@Model._report.pregnant" type="number" name="pregnant" asp-for="_report.pregnant"/></td>
                    <td scope="col"><input min="0" value="@Model._report.pregnantChildrens" type="number" name="pregnantChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">Пациенты из зон отдыха</td>
                <td scope="col"><input min="0" value="@Model._report.restZone" type="number" name="restZone" asp-for="_report.restZone"/></td>
                <td scope="col"><input min="0" value="@Model._report.restZoneChildrens" type="number" name="restZoneChildrens" asp-for="_report.restZoneChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">Инокраевые</td>
                <td scope="col"><input min="0" value="@Model._report.outRegions" type="number" name="outRegions" asp-for="_report.outRegions" /></td>
                <td scope="col"><input min="0" value="@Model._report.outRegionsChildrens" type="number" name="outRegionsChildrens" asp-for="_report.outRegionsChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">Иностранные граждане</td>
                <td scope="col"><input min="0" value="@Model._report.forein" type="number" name="forein" asp-for="_report.forein"/></td>
                <td scope="col"><input min="0" value="@Model._report.foreinChildrens" type="number" name="foreinChildrens" asp-for="_report.foreinChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">Прибывшие из ЛНР/ДНР</td>
                <td scope="col"><input min="0" value="@Model._report.LNR_DNR" type="number" name="LNR_DNR" asp-for="_report.LNR_DNR"/></td>
                <td scope="col"><input min="0" value="@Model._report.LNR_DNRChildrens" type="number" name="LNR_DNRChildrens" asp-for="_report.LNR_DNRChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">Поступили из другой МО</td>
                <td scope="col"><input min="0" value="@Model._report.incomeHospital" type="number" name="incomeHospital" asp-for="_report.incomeHospital"/></td>
                <td scope="col"><input min="0" value="@Model._report.incomeHospitalChildrens" type="number" name="incomeHospitalChildrens" asp-for="_report.incomeHospitalChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">Переведены в другую МО</td>
                <td scope="col"><input min="0" value="@Model._report.outcomeHospital" type="number" name="outcomeHospital" asp-for="_report.outcomeHospital"/></td>
                <td scope="col"><input min="0" value="@Model._report.outcomeHospitalChildrens" type="number" name="outcomeHospitalChildrens" asp-for="_report.outcomeHospitalChildrens"/> </td>
            </tr>
            @*Нозоологии*@
            <tr>
                <td scope="col">U 07.1 Covid-19</td>
                <td scope="col"><input min="0" value="@Model._report.U071" type="number" name="U071" asp-for="_report.U071"/></td>
                <td scope="col"><input min="0" value="@Model._report.U071Childrens" type="number" name="U071Childrens" asp-for="_report.U071Childrens"/> </td>
            </tr>
            <tr>
                <td scope="col">U 07.2 Covid-19</td>
                <td scope="col"><input min="0" value="@Model._report.U072" type="number" name="U072" asp-for="_report.U072" /></td>
                <td scope="col"><input min="0" value="@Model._report.U072Childrens" type="number" name="U072Childrens" asp-for="_report.U072Childrens"/> </td>
            </tr>
            <tr>
                <td scope="col">ОРИ</td>
                <td scope="col"><input min="0" value="@Model._report.ORVI" type="number" name="ORVI" asp-for="_report.ORVI" /></td>
                <td scope="col"><input min="0" value="@Model._report.ORVIChildrens" type="number" name="ORVIChildrens" asp-for="_report.ORVIChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">Грипп</td>
                <td scope="col"><input min="0" value="@Model._report.grippe" type="number" name="grippe" asp-for="_report.grippe" /></td>
                <td scope="col"><input min="0" value="@Model._report.grippeChildrens" type="number" name="grippeChildrens" asp-for="_report.grippeChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Пневмония</td>
                <td scope="col"><input min="0" value="@Model._report.pneumonia" type="number" name="pneumonia" asp-for="_report.pneumonia"/></td>
                <td scope="col"><input min="0" value="@Model._report.pneumoniaChildrens" type="number" name="pneumoniaChildrens" asp-for="_report.pneumoniaChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">ОКИ</td>
                <td scope="col"><input value="@Model._report.OKI" type="number" name="OKI" asp-for="_report.OKI"/></td>
                <td scope="col"><input value="@Model._report.OKIChildrens" type="number" name="OKIChildrens" asp-for="_report.OKIChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">Менингит, энцефалит, миелит</td>
                <td scope="col"><input min="0" value="@Model._report.meningit" type="number" name="meningit" asp-for="_report.meningit"/></td>
                <td scope="col"><input min="0" value="@Model._report.meningitChildrens" type="number" name="meningitChildrens" asp-for="_report.meningitChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">Сепсис</td>
                <td scope="col"><input min="0" value="@Model._report.sepsis" type="number" name="sepsis" asp-for="_report.sepsis"/></td>
                <td scope="col"><input min="0" value="@Model._report.sepsisChildren" type="number" name="sepsisChildren" asp-for="_report.sepsisChildren"/> </td>
            </tr>
            <tr>
                <td scope="col">Гепатит</td>
                <td scope="col"><input min="0" value="@Model._report.hepatit" type="number" name="hepatit" asp-for="_report.hepatit"/></td>
                <td scope="col"><input min="0" value="@Model._report.hepatitChildrens" type="number" name="hepatitChildrens" asp-for="_report.hepatitChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">В-20</td>
                <td scope="col"><input min="0" value="@Model._report.HIV" type="number" name="HIV" asp-for="_report.HIV"/></td>
                <td scope="col"><input min="0" value="@Model._report.HIVCildrens" type="number" name="HIVCildrens" asp-for="_report.HIVCildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">Прочие</td>
                <td scope="col"><input min="0" value="@Model._report.other" type="number" name="other" asp-for="_report.other"/></td>
                <td scope="col"><input min="0" value="@Model._report.otherChildrens" type="number" name="otherChildrens" asp-for="_report.otherChildrens"/> </td>
            </tr>
            <tr>
                <td scope="col">Лица по уходу (общее количество)</td>
                <td scope="col" ><input min="0" value="@Model._report.care" type="number" name="care" asp-for="_report.care" /></td>
                <td scope="col" class="d-print-none">В этом поле указывать всех по уходу, и до 4х лет и старше!!!</td>
             </tr>
             <tr>
                <td scope="col">Лица по уходу до 4х лет или с детьми инвалидами</td>
                <td scope="col" colspan="2"><input min="0" value="@Model._report.careDisodered" type="number" name="careDisodered" asp-for="_report.careDisodered" /></td>
             </tr>
        </table>

        <input class="d-print-none" type="submit" value="Отправить" asp-page-handler="Report" asp-route-depNumber=@Model._report.depNumber />
        @*<input class="d-print-none" type="submit" value="Загрузить предыдущую сводку" asp-page-handler="PrevReport" asp-route-depNumber=@Model._report.depNumber />
    *@
        </form>
    <button class="d-print-none mt-2 action-print">Печать</button>

</div>
