@page
@using DailyReport.Models
@model DailyReport.Pages.Reports.DepReportModel
@{
    ViewData["Title"] = "Сводка отделения";
}

<div class="container">
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">        </th>
                <th scope="col">Взрослые</th>
                <th scope="col">Дети</th>
            </tr>
            <tr>
                <th scope="col">Состояло</th>
                <th scope="col"><input value="@Model.reportModel.existedChildrens" /></th>
                <th scope="col"><input value="@Model.reportModel.existedChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Состояло</th>
                <th scope="col"><input value="@Model.reportModel.existedChildrens" /></th>
                <th scope="col"><input value="@Model.reportModel.existedChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Состояло</th>
                <th scope="col"><input value="@Model.reportModel.existedChildrens" /></th>
                <th scope="col"><input value="@Model.reportModel.existedChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Состояло</th>
                <th scope="col"><input value="@Model.reportModel.existedChildrens" /></th>
                <th scope="col"><input value="@Model.reportModel.existedChildrens" /> </th>
            </tr>
        </thead>
    </table>
</div>
