@page
@using DailyReport.Models
@model DailyReport.Pages.Reports.DepReportModel
@{
    ViewData["Title"] = "Сводка отделения";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            Сводка _____ отделения <br />
            ______ зона
        </div>
        <div class="col-4 offset-4" >
            Дата @Model._report.date.ToShortDateString()
        </div>
    </div>
    <form name="repForm" method="post">
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">  </th>
                <th scope="col">Взрослые</th>
                <th scope="col">Дети</th>
            </tr>
            <tr>
                <th scope="col">Состояло</th>
                <th scope="col"><input value="@Model._report.existed" type="number" name="existed"/></th>
                    <th scope="col"><input value="@Model._report.existedChildrens" type="number" name="existedChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Выбыло</th>
                    <th scope="col"><input value="@Model._report.outcome" type="number" name="outcome" /></th>
                    <th scope="col"><input value="@Model._report.outcomeChildrens" type="number" name="outcomeChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Поступило</th>
                    <th scope="col"><input value="@Model._report.income" type="number" name="income" /></th>
                    <th scope="col"><input value="@Model._report.incomeChildrens" type="number" name="incomeChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Переведено из отделения</th>
                    <th scope="col"><input value="@Model._report.movedOutDep" type="number" name="movedOutDep" /></th>
                    <th scope="col"><input value="@Model._report.movedInDepChildrens" type="number" name="movedInDepChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Переведено в отделение</th>
                    <th scope="col"><input value="@Model._report.movedInDep" type="number" name="movedInDep" /></th>
                    <th scope="col"><input value="@Model._report.movedInDepChildrens" type="number" name="movedInDepChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Умерло</th>
                    <th scope="col"><input value="@Model._report.died" type="number" name="died" /></th>
                    <th scope="col"><input value="@Model._report.diedChildrens" type="number" name="diedChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Состоит</th>
                    <th scope="col"><input value="@Model._report.present" type="number" name="present"/></th>
                    <th scope="col"><input value="@Model._report.presentChildrens" type="number" name="presentChildrens" /> </th>
            </tr>
            @*раздел кислорода*@
            <tr>
                <th scope="col">ИВЛ</th>
                    <th scope="col"><input value="@Model._report.oIVL" type="number" name="oIVL" /></th>
                    <th scope="col"><input value="@Model._report.oIVLChildrens" type="number" name="oIVLChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">НИВЛ</th>
                    <th scope="col"><input value="@Model._report.oNIVL" type="number" name="oNIVL" /></th>
                    <th scope="col"><input value="@Model._report.oNIVLChildrens" type="number" name="oNIVLChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">НИВЛ+ВПО</th>
                    <th scope="col"><input value="@Model._report.oNIVLVPO" type="number" name="oNIVLVPO" /></th>
                    <th scope="col"><input value="@Model._report.oNIVLVPOChildrens" type="number" name="oNIVLVPOChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">НИВЛ+КМ</th>
                    <th scope="col"><input value="@Model._report.oNIVLMask" type="number" name="oNIVLMask" /></th>
                    <th scope="col"><input value="@Model._report.oNIVLMaskChildrens" type="number" name="oNIVLMaskChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Лицевая маска</th>
                    <th scope="col"><input value="@Model._report.oMask" type="number" name="oMask" /></th>
                    <th scope="col"><input value="@Model._report.oMaskChildren" type="number" name="oMaskChildren" /> </th>
            </tr>
            <tr>
                <th scope="col">Спонтанное дыхание</th>
                    <th scope="col"><input value="@Model._report.oBrease" type="number" name="oBrease" /></th>
                    <th scope="col"><input value="@Model._report.oBreaseChildrens" type="number" name="oBreaseChildrens" /> </th>
            </tr>
                @*админ рздел*@
                <tr>
                    <th scope="col">Беременные</th>
                    <th scope="col"><input value="@Model._report.pregnant" type="number" name="pregnant"/></th>
                    <th scope="col"><input value="@Model._report.pregnantChildrens" type="number" name="pregnantChildrens" /> </th>
                </tr>
            <tr>
                <th scope="col">Пациенты из зон отдыха</th>
                    <th scope="col"><input value="@Model._report.restZone" type="number" name="restZone" /></th>
                    <th scope="col"><input value="@Model._report.restZoneChildrens" type="number" name="restZoneChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Инокраевые</th>
                    <th scope="col"><input value="@Model._report.outRegions" type="number" name="outRegions" /></th>
                    <th scope="col"><input value="@Model._report.outRegionsChildrens" type="number" name="outRegionsChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Иностранные граждане</th>
                    <th scope="col"><input value="@Model._report.forein" type="number" name="forein" /></th>
                    <th scope="col"><input value="@Model._report.foreinChildrens" type="number" name="foreinChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Прибывшие из ЛНР/ДНР</th>
                <th scope="col"><input value="@Model._report.LNR_DNR" type="number" name="LNR_DNR"/></th>
                    <th scope="col"><input value="@Model._report.LNR_DNRChildrens" type="number" name="LNR_DNRChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Поступили из другой МО</th>
                    <th scope="col"><input value="@Model._report.incomeHospital" type="number" name="incomeHospital" /></th>
                    <th scope="col"><input value="@Model._report.incomeHospitalChildrens" type="number" name="incomeHospitalChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Переведены в другую МО</th>
                <th scope="col"><input value="@Model._report.outcomeHospital" type="number" name="outcomeHospital"/></th>
                    <th scope="col"><input value="@Model._report.outcomeHospitalChildrens" type="number" name="outcomeHospitalChildrens" /> </th>
            </tr>
            @*Нозоологии*@
            <tr>
                <th scope="col">U 07.1 Covid-19</th>
                    <th scope="col"><input value="@Model._report.U071" type="number" name="U071" /></th>
                    <th scope="col"><input value="@Model._report.U071Childrens" type="number" name="U 071Childrens"/> </th>
            </tr>
            <tr>
                <th scope="col">U 07.2 Covid-19</th>
                <th scope="col"><input value="@Model._report.U072" type="number" name="U072"/></th>
                    <th scope="col"><input value="@Model._report.U072Childrens" type="number" name="U072Childrens" /> </th>
            </tr>
            <tr>
                <th scope="col">ОРИ</th>
                    <th scope="col"><input value="@Model._report.ORVI" type="number" name="ORVI" /></th>
                    <th scope="col"><input value="@Model._report.ORVIChildrens" type="number" name="ORVIChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Пневмония</th>
                    <th scope="col"><input value="@Model._report.pneumonia" type="number" name="pneumonia" /></th>
                    <th scope="col"><input value="@Model._report.pneumoniaChildrens" type="number" name="pneumoniaChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">ОКИ</th>
                    <th scope="col"><input value="@Model._report.OKI" type="number" name="OKI" /></th>
                    <th scope="col"><input value="@Model._report.OKIChildrens" type="number" name="OKIChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Менингит, энцефалит, миелит</th>
                    <th scope="col"><input value="@Model._report.meningit" type="number" name="meningit" /></th>
                    <th scope="col"><input value="@Model._report.meningitChildrens" type="number" name="meningitChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Гепатит</th>
                <th scope="col"><input value="@Model._report.hepatit" type="number" name="hepatit"/></th>
                    <th scope="col"><input value="@Model._report.hepatitChildrens" type="number" name="hepatitChildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">В-20</th>
                    <th scope="col"><input value="@Model._report.HIV" type="number" name="HIV" /></th>
                    <th scope="col"><input value="@Model._report.HIVCildrens" type="number" name="HIVCildrens" /> </th>
            </tr>
            <tr>
                <th scope="col">Прочие</th>
                <th scope="col"><input value="@Model._report.other" type="number" name="other"/></th>
                <th scope="col"><input value="@Model._report.otherChildrens" type="number" name="otherChildrens"/> </th>
            </tr>
        </thead>
    </table>
    
    <input type="submit" value="Отправить" />
    </form>
</div>
