@page
@using DailyReport.Models
@model DailyReport.Pages.Reports.DepReportModel
@{
    string msg, zone/*, alertMsg = string.Empty*/;
    if ((Model._report.depNumber == 90) || (Model._report.depNumber == 91)) msg = "ОРИТ";
    else if (Model._report.depNumber == 8) msg = "Дневной стационар";
    else msg = Model._report.depNumber + " отделения";
    if ((Model._report.depNumber == 1) || (Model._report.depNumber == 91)) zone = "грязная ";
    else zone = "чистая ";
    ViewData["Title"] = "Сводка " + msg;
}

<div class="container">
    <div class="row"> <p>@ViewData["alertMsg"]</p></div>
    <div class="row">
        <div class="col-4">
            Сводка @msg <br />
            @zone зона
        </div>
        <div class="col-4 offset-4" >
            Дата @Model._report.date.ToShortDateString()
        </div>
    </div>
    <form name="repForm" method="post">
    <table class="table mt-2">
        <thead> 
            <tr>
                <th scope="col"><input value="@Model._report.Id" type="number" name="id" class="invisible" />  </th>
                <th scope="col">Взрослые</th>
                <th scope="col">Дети</th>
            </tr>
        </thead>
            <tr>
                <td scope="col">Состояло</td>
                <td scope="col"><input value="@Model._report.existed" type="number" name="existed"/></td>
                    <td scope="col"><input value="@Model._report.existedChildrens" type="number" name="existedChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Выбыло</td>
                    <td scope="col"><input value="@Model._report.outcome" type="number" name="outcome" /></td>
                    <td scope="col"><input value="@Model._report.outcomeChildrens" type="number" name="outcomeChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Поступило</td>
                    <td scope="col"><input value="@Model._report.income" type="number" name="income" /></td>
                    <td scope="col"><input value="@Model._report.incomeChildrens" type="number" name="incomeChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Переведено из отделения</td>
                    <td scope="col"><input value="@Model._report.movedOutDep" type="number" name="movedOutDep" /></td>
                    <td scope="col"><input value="@Model._report.movedOutDepChildrens" type="number" name="movedOutDepChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Переведено в отделение</td>
                    <td scope="col"><input value="@Model._report.movedInDep" type="number" name="movedInDep" /></td>
                    <td scope="col"><input value="@Model._report.movedInDepChildrens" type="number" name="movedInDepChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Умерло</td>
                    <td scope="col"><input value="@Model._report.died" type="number" name="died" /></td>
                    <td scope="col"><input value="@Model._report.diedChildrens" type="number" name="diedChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Состоит</td>
                    <td scope="col"><input value="@Model._report.present" type="number" name="present"/></td>
                    <td scope="col"><input value="@Model._report.presentChildrens" type="number" name="presentChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Прикреплено в ОРИТ</td>
                <td scope="col"><input value="@Model._report.attachedToORIT" type="number" name="attachedToORIT" /></td>
                <td scope="col"><input value="@Model._report.attachedToORITCildrens" type="number" name="attachedToORITCildrens" /> </td>
            </tr>
            @*раздел кислорода*@
            <tr>
                <td scope="col">ИВЛ</td>
                <td scope="col" colspan="2"><input value="@Model._report.oIVL" type="number" name="oIVL" /></td>
                @*  <td scope="col"><input value="@Model._report.oIVLChildrens" type="number" name="oIVLChildrens" /> </td>*@
            </tr>
            <tr>
                <td scope="col">НИВЛ</td>
                <td scope="col" colspan="2"><input value="@Model._report.oNIVL" type="number" name="oNIVL" /></td>
                @*  <td scope="col"><input value="@Model._report.oNIVLChildrens" type="number" name="oNIVLChildrens" /> </td>*@
            </tr>
            <tr>
                <td scope="col">НИВЛ+ВПО</td>
                <td scope="col"colspan="2"><input value="@Model._report.oNIVLVPO" type="number" name="oNIVLVPO" /></td>
                @*   <td scope="col"><input value="@Model._report.oNIVLVPOChildrens" type="number" name="oNIVLVPOChildrens" /> </td>*@
            </tr>
            <tr>
                <td scope="col">НИВЛ+КМ</td>
                <td scope="col" colspan="2"><input value="@Model._report.oNIVLMask" type="number" name="oNIVLMask" /></td>
                @*   <td scope="col"><input value="@Model._report.oNIVLMaskChildrens" type="number" name="oNIVLMaskChildrens" /> </td>*@
            </tr>
            <tr>
                <td scope="col">Лицевая маска</td>
                <td scope="col" colspan="2"><input value="@Model._report.oMask" type="number" name="oMask" /></td>
                @*   <td scope="col"><input value="@Model._report.oMaskChildren" type="number" name="oMaskChildren" /> </td>*@
            </tr>
                @* <tr>
                <td scope="col">Спонтанное дыхание</td>
                    <td scope="col"><input value="@Model._report.oBrease" type="number" name="oBrease" /></td>
                    <td scope="col"><input value="@Model._report.oBreaseChildrens" type="number" name="oBreaseChildrens" /> </td>
                </tr> *@
                @*админ рздел*@
                <tr>
                    <td scope="col">Беременные</td>
                    <td scope="col"><input value="@Model._report.pregnant" type="number" name="pregnant"/></td>
                    <td scope="col"><input value="@Model._report.pregnantChildrens" type="number" name="pregnantChildrens" class="invisible"/> </td>
                </tr>
            <tr>
                <td scope="col">Пациенты из зон отдыха</td>
                    <td scope="col"><input value="@Model._report.restZone" type="number" name="restZone" /></td>
                    <td scope="col"><input value="@Model._report.restZoneChildrens" type="number" name="restZoneChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Инокраевые</td>
                    <td scope="col"><input value="@Model._report.outRegions" type="number" name="outRegions" /></td>
                    <td scope="col"><input value="@Model._report.outRegionsChildrens" type="number" name="outRegionsChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Иностранные граждане</td>
                    <td scope="col"><input value="@Model._report.forein" type="number" name="forein" /></td>
                    <td scope="col"><input value="@Model._report.foreinChildrens" type="number" name="foreinChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Прибывшие из ЛНР/ДНР</td>
                <td scope="col"><input value="@Model._report.LNR_DNR" type="number" name="LNR_DNR"/></td>
                    <td scope="col"><input value="@Model._report.LNR_DNRChildrens" type="number" name="LNR_DNRChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Поступили из другой МО</td>
                    <td scope="col"><input value="@Model._report.incomeHospital" type="number" name="incomeHospital" /></td>
                    <td scope="col"><input value="@Model._report.incomeHospitalChildrens" type="number" name="incomeHospitalChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Переведены в другую МО</td>
                <td scope="col"><input value="@Model._report.outcomeHospital" type="number" name="outcomeHospital"/></td>
                    <td scope="col"><input value="@Model._report.outcomeHospitalChildrens" type="number" name="outcomeHospitalChildrens" /> </td>
            </tr>
            @*Нозоологии*@
            <tr>
                <td scope="col">U 07.1 Covid-19</td>
                    <td scope="col"><input value="@Model._report.U071" type="number" name="U071" /></td>
                    <td scope="col"><input value="@Model._report.U071Childrens" type="number" name="U071Childrens"/> </td>
            </tr>
            <tr>
                <td scope="col">U 07.2 Covid-19</td>
                <td scope="col"><input value="@Model._report.U072" type="number" name="U072"/></td>
                    <td scope="col"><input value="@Model._report.U072Childrens" type="number" name="U072Childrens" /> </td>
            </tr>
            <tr>
                <td scope="col">ОРИ</td>
                    <td scope="col"><input value="@Model._report.ORVI" type="number" name="ORVI" /></td>
                    <td scope="col"><input value="@Model._report.ORVIChildrens" type="number" name="ORVIChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Пневмония</td>
                    <td scope="col"><input value="@Model._report.pneumonia" type="number" name="pneumonia" /></td>
                    <td scope="col"><input value="@Model._report.pneumoniaChildrens" type="number" name="pneumoniaChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">ОКИ</td>
                    <td scope="col"><input value="@Model._report.OKI" type="number" name="OKI" /></td>
                    <td scope="col"><input value="@Model._report.OKIChildrens" type="number" name="OKIChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Менингит, энцефалит, миелит</td>
                    <td scope="col"><input value="@Model._report.meningit" type="number" name="meningit" /></td>
                    <td scope="col"><input value="@Model._report.meningitChildrens" type="number" name="meningitChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Гепатит</td>
                <td scope="col"><input value="@Model._report.hepatit" type="number" name="hepatit"/></td>
                    <td scope="col"><input value="@Model._report.hepatitChildrens" type="number" name="hepatitChildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">В-20</td>
                    <td scope="col"><input value="@Model._report.HIV" type="number" name="HIV" /></td>
                    <td scope="col"><input value="@Model._report.HIVCildrens" type="number" name="HIVCildrens" /> </td>
            </tr>
            <tr>
                <td scope="col">Прочие</td>
                <td scope="col"><input value="@Model._report.other" type="number" name="other"/></td>
                <td scope="col"><input value="@Model._report.otherChildrens" type="number" name="otherChildrens"/> </td>
            </tr>
    </table>

        <input type="submit" value="Отправить" asp-page-handler="Report" asp-route-depNumber=@Model._report.depNumber/>
        <input type="submit" value="Загрузить предыдущую сводку" asp-page-handler="PrevReport" asp-route-depNumber=@Model._report.depNumber />
    </form>
</div>
