@page
@using DailyReport.Models
@model DailyReport.Pages.Reports.FinalReportModel
@{
    ViewData["Title"] = "Сводка по больнице";
}

<div class="container">
    <div class="row" >
        <table class="table m-0 p-0 table-bordered border-dark"> 
            <tbody>
                <tr class="table-primary">
                    <td rowspan="2">@Model.reportDate.ToString("dd.MM.yy")</td>
                    <td colspan="4">1-е ИО</td>
                    <td colspan="2" rowspan="2">3-е ИО (40) чистая</td>
                    <td colspan="2" rowspan="2">4-е ИО (30 бюджет) чистая</td>
                    <td colspan="2" rowspan="2">5-е ИО (55) чистая</td>
                    <td colspan="2" rowspan="2">6-е ИО (50) чистая</td>
                    <td colspan="2" rowspan="2">7-е ИО (45) чистая</td>
                    <td colspan="4">ОРИТ (15)</td>
                    <td colspan="2" rowspan="2">Дневной стационар (25)</td>
                    <td colspan="3" rowspan="2">275 стационарных коек</td>
                    <td colspan="3" rowspan="2">Всего 300 с учетом дневного стационара</td>
                </tr>
                <tr class="table-primary">
                    <td colspan ="2">Грязная (18)</td>
                    <td colspan="2">Чистая (22)</td>
                    <td colspan ="2">Грязная</td>
                    <td colspan="2">Чистая</td>
                </tr>
                <tr class="table-secondary align-bottom">
                    <td>Всего: взрослые 133, детские 142, COVID-19: ВЗР-17, ДЕТ-3</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Всего</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Всего</td>                   
                </tr>
                <tr class="table-secondary">
                    <td>Количество коек (фактическое)</td>

                    <td>@Model.departmentSpots.dep11</td>
                    <td>@Model.departmentSpots.dep11Children</td>
                    <td>@Model.departmentSpots.dep1</td>
                    <td>@Model.departmentSpots.dep1Children</td>
                    <td>@Model.departmentSpots.dep3</td>
                    <td>@Model.departmentSpots.dep3Children</td>
                    <td>@Model.departmentSpots.dep4</td>
                    <td>@Model.departmentSpots.dep4Children</td>
                    <td>@Model.departmentSpots.dep5</td>
                    <td>@Model.departmentSpots.dep5Children</td>
                    <td>@Model.departmentSpots.dep6</td>
                    <td>@Model.departmentSpots.dep6Children</td>
                    <td>@Model.departmentSpots.dep7</td>
                    <td>@Model.departmentSpots.dep7Children</td>
                    <td>@Model.departmentSpots.dep91</td>
                    <td>@Model.departmentSpots.dep91Children</td>
                    <td>@Model.departmentSpots.dep90</td>
                    <td>@Model.departmentSpots.dep90Children</td>
                    <td>@Model.departmentSpots.dep8</td>
                    <td>@Model.departmentSpots.dep8Children</td>
                    <td>@Model.departmentSpots.sum</td>
                    <td>@Model.departmentSpots.sumChildren</td>
                    <td>@(@Model.departmentSpots.sum + @Model.departmentSpots.sumChildren)</td>
                    <td>@Model.departmentSpots.sumOC</td>
                    <td>@Model.departmentSpots.sumOCChildren</td>
                    <td>@(@Model.departmentSpots.sumOC + @Model.departmentSpots.sumOCChildren)</td>
                </tr>
                <tr class="table-success">
                    <td>Состояло</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.existed > 0) {@dr.existed}</td>
                            <td>@if(dr.existedChildrens > 0) {@dr.existedChildrens}</td>
                        }
                    }
                    <td>@Model.finalReport.existed</td>
                    <td>@Model.finalReport.existedChildren</td>
                    <td>@(@Model.finalReport.existed + @Model.finalReport.existedChildren)</td>
                    <td>@(@Model.finalReport.existed + @Model.depReport8.existed)</td>
                    <td>@(@Model.finalReport.existedChildren + @Model.depReport8.existedChildrens)</td>
                    <td>@(@Model.finalReport.existed + @Model.depReport8.existed + 
                        @Model.finalReport.existedChildren + @Model.depReport8.existedChildrens)</td>
                </tr>
                <tr class="table-warning">
                    <td>Поступило</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.income > 0) {@dr.income}</td>
                            <td>@if(dr.incomeChildrens > 0) {@dr.incomeChildrens}</td>
                        }
                    }
                    <td>@Model.finalReport.income</td>
                    <td>@Model.finalReport.incomeChildren</td>
                    <td>@(@Model.finalReport.income + @Model.finalReport.incomeChildren)</td>
                    <td>@(@Model.finalReport.income + @Model.depReport8.income)</td>
                    <td>@(@Model.finalReport.incomeChildren + @Model.depReport8.incomeChildrens)</td>
                    <td>@(@Model.finalReport.income + @Model.depReport8.income + 
                        @Model.finalReport.incomeChildren + @Model.depReport8.incomeChildrens)</td>
                </tr>
                <tr class="table-success">
                    <td>Выбыло</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.outcome > 0) {@dr.outcome}</td>
                            <td>@if(dr.outcomeChildrens > 0) {@dr.outcomeChildrens}</td>
                        }
                    }
                    <td>@Model.finalReport.outcome</td>
                    <td>@Model.finalReport.outcomeChildren</td>
                    <td>@(@Model.finalReport.outcome + @Model.finalReport.outcomeChildren)</td>
                    <td>@(@Model.finalReport.outcome + @Model.depReport8.outcome)</td>
                    <td>@(@Model.finalReport.outcomeChildren + @Model.depReport8.outcomeChildrens)</td>
                    <td>@(@Model.finalReport.outcome + @Model.depReport8.outcome + 
                        @Model.finalReport.outcomeChildren + @Model.depReport8.outcomeChildrens)</td>
                </tr>

                <tr class="table-secondary">
                    <td>Прикреплено в ОРИТ</td>

                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.attachedToORIT > 0) {@dr.attachedToORIT}</td>
                            <td>@if(dr.attachedToORITCildrens > 0) {@dr.attachedToORITCildrens}</td>
                        }
                    }
                    <td>@Model.finalReport.attachedToORIT</td>
                    <td>@Model.finalReport.attachedToORITChildren</td>
                    <td>@(@Model.finalReport.attachedToORIT + @Model.finalReport.attachedToORITChildren)</td>
                    <td>@(@Model.finalReport.attachedToORIT + @Model.depReport8.attachedToORIT)</td>
                    <td>@(@Model.finalReport.attachedToORITChildren + @Model.depReport8.attachedToORITCildrens)</td>
                    <td>@(@Model.finalReport.attachedToORIT + @Model.depReport8.attachedToORIT + 
                        @Model.finalReport.attachedToORITChildren + @Model.depReport8.attachedToORITCildrens)</td>
                </tr>
                <tr class="table-secondary">
                    <td>Переведено из отделения</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.movedOutDep > 0) {@dr.movedOutDep}</td>
                            <td>@if(dr.movedOutDepChildrens > 0) {@dr.movedOutDepChildrens}</td>
                        }
                    }
                    <td>@Model.finalReport.movedOutDep</td>
                    <td>@Model.finalReport.movedOutDepChildren</td>
                    <td>@(@Model.finalReport.movedOutDep + @Model.finalReport.movedOutDepChildren)</td>
                    <td>@(@Model.finalReport.movedOutDep + @Model.depReport8.movedOutDep)</td>
                    <td>@(@Model.finalReport.movedOutDepChildren + @Model.depReport8.movedOutDepChildrens)</td>
                    <td>@(@Model.finalReport.movedOutDep + @Model.depReport8.movedOutDep + 
                        @Model.finalReport.movedOutDepChildren + @Model.depReport8.movedOutDepChildrens)</td>
                </tr>
                <tr class="table-secondary">
                    <td>Переведено в отделение</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.movedInDep > 0) {@dr.movedInDep}</td>
                            <td>@if(dr.movedInDepChildrens > 0) {@dr.movedInDepChildrens}</td>
                        }
                    }
                    <td>@Model.finalReport.movedInDep</td>
                    <td>@Model.finalReport.movedInDepChildren</td>
                    <td>@(@Model.finalReport.movedInDep + @Model.finalReport.movedInDepChildren)</td>
                    <td>@(@Model.finalReport.movedInDep + @Model.depReport8.movedInDep)</td>
                    <td>@(@Model.finalReport.movedInDepChildren + @Model.depReport8.movedInDepChildrens)</td>
                    <td>@(@Model.finalReport.movedInDep + @Model.depReport8.movedInDep + 
                        @Model.finalReport.movedInDepChildren + @Model.depReport8.movedInDepChildrens)</td>
                </tr>
                <tr class="table-secondary">
                    <td>Умерло</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.died > 0) {@dr.died}</td>
                            <td>@if(dr.diedChildrens > 0) {@dr.diedChildrens}</td>
                        }
                    }
                    <td>@Model.finalReport.died</td>
                    <td>@Model.finalReport.diedChildren</td>
                    <td>@(@Model.finalReport.died + @Model.finalReport.diedChildren)</td>
                    <td>@(@Model.finalReport.died + @Model.depReport8.died)</td>
                    <td>@(@Model.finalReport.diedChildren + @Model.depReport8.diedChildrens)</td>
                    <td>@(@Model.finalReport.died + @Model.depReport8.died + 
                        @Model.finalReport.diedChildren + @Model.depReport8.diedChildrens)</td>
                </tr>
                <tr class="table-warning">
                    <td>Состоит в отделении</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.present > 0) {@dr.present}</td>
                            <td>@if(dr.presentChildrens > 0) {@dr.presentChildrens}</td>
                        }
                    }
                    <td>@Model.finalReport.present</td>
                    <td>@Model.finalReport.presentChildren</td>
                    <td>@(@Model.finalReport.present + @Model.finalReport.presentChildren)</td>
                    <td>@(@Model.finalReport.present + @Model.depReport8.present)</td>
                    <td>@(@Model.finalReport.pregnantChildren + @Model.depReport8.presentChildrens)</td>
                    <td>@(@Model.finalReport.present + @Model.depReport8.present + 
                        @Model.finalReport.presentChildren + @Model.depReport8.presentChildrens)</td>
                </tr>
                <tr class="table-secondary">
                    <td>Свободные места</td>
                    <td colspan="2">@(@Model.freeSpots.dep11S @*+ @Model.freeSpots.dep11Children*@)</td>
                    <td colspan="2">@(@Model.freeSpots.dep1S @*+ @Model.freeSpots.dep1Children*@)</td>
                    <td colspan="2">@(@Model.freeSpots.dep3S @*+ @Model.freeSpots.dep3Children*@)</td>
                    <td colspan="2">@(@Model.freeSpots.dep4S @*+ @Model.freeSpots.dep4Children*@)</td>
                    <td colspan="2">@(@Model.freeSpots.dep5S @*+ @Model.freeSpots.dep5Children*@)</td>
                    <td colspan="2">@(@Model.freeSpots.dep6S @*+ @Model.freeSpots.dep6Children*@)</td>
                    <td colspan="2">@(@Model.freeSpots.dep7S @*+ @Model.freeSpots.dep7Children*@)</td>
                    <td colspan="2">@(@Model.freeSpots.dep91S @*+ @Model.freeSpots.dep91Children*@)</td>
                    <td colspan="2">@(@Model.freeSpots.dep90S @*+ @Model.freeSpots.dep90Children*@)</td>
                    <td colspan="2">@(@Model.freeSpots.dep8S @*+ @Model.freeSpots.dep8Children*@)</td>
                    <td>@Model.freeSpots.sum</td>
                    <td>@Model.freeSpots.sumChildren</td>
                    <td>@(@Model.freeSpots.sum + @Model.freeSpots.sumChildren)</td>
                </tr>
               @* <tr class="table-secondary">
                    <td>Загруженность %</td>
                    <td colspan="2">@(@Model.freeSpots.dep11P)</td>
                    <td colspan="2">@(@Model.freeSpots.dep1P)</td>
                    <td colspan="2">@(@Model.freeSpots.dep3P)</td>
                    <td colspan="2">@(@Model.freeSpots.dep4P)</td>
                    <td colspan="2">@(@Model.freeSpots.dep5P)</td>
                    <td colspan="2">@(@Model.freeSpots.dep6P)</td>
                    <td colspan="2">@(@Model.freeSpots.dep7P)</td>
                    <td colspan="2">@(@Model.freeSpots.dep91P)</td>
                    <td colspan="2">@(@Model.freeSpots.dep90P)</td>
                    <td colspan="2">@(@Model.freeSpots.dep8P)</td>
                    <td>@Model.freeSpots.sum</td>
                    <td>@Model.freeSpots.sumChildren</td>
                    <td>@(@Model.freeSpots.sum + @Model.freeSpots.sumChildren)</td>
                </tr>*@
                
                <tr>
                    <td>ИВЛ</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td colspan="2">@if(dr.oIVL > 0) @dr.oIVL </td>
                        }
                    }
                    <td >@Model.finalReport.oIVL</td>
                    <td>@Model.finalReport.oIVLChildren</td>
                    <td >@(@Model.finalReport.oIVL + @Model.finalReport.oIVLChildren)</td>
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
                <tr class="table-success">
                    <td>НИВЛ </td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td colspan="2">@if(dr.oNIVL > 0) @dr.oNIVL </td>
                        }
                    }
                    <td>@Model.finalReport.oNIVL</td>
                    <td>@Model.finalReport.oNIVLChildren</td>
                    <td>@(@Model.finalReport.oNIVL + @Model.finalReport.oNIVLChildren)</td>
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
                <tr class="table-success">
                    <td>НИВЛ+ВПО</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td colspan="2">@if(dr.oNIVLVPO > 0) @dr.oNIVLVPO </td>
                        }
                    }
                    <td>@Model.finalReport.oNIVLVPO</td>
                    <td>@Model.finalReport.oNIVLVPOChildren</td>
                    <td>@(@Model.finalReport.oNIVLVPO + @Model.finalReport.oNIVLVPOChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-success">
                    <td>НИВЛ+КМ</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td colspan="2">@if(dr.oNIVLMask > 0) @dr.oNIVLMask </td>
                        }
                    }
                    <td>@Model.finalReport.oNIVLMask</td>
                    <td>@Model.finalReport.oNIVLMaskChildren</td>
                    <td>@(@Model.finalReport.oNIVLMask + @Model.finalReport.oNIVLMaskChildren)</td>
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
                <tr class="table-success">
                    <td>Лицевая маска</td>
                     @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td colspan="2">@if(dr.oMask > 0) @dr.oMask </td>
                        }
                    }
                    <td>@Model.finalReport.oMask</td>
                    <td>@Model.finalReport.oMaskChildren</td>
                    <td>@(@Model.finalReport.oMask + @Model.finalReport.oMaskChildren)</td>
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
                <tr class="table-warning">
                    <td>Количество пациентов на кислороде</td>
                    <td colspan="2">@Model.oxygenSum11</td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2">@Model.oxygenSum91</td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td>@(@Model.oxygenSum11 + @Model.oxygenSum91)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Беременные</td>
                     @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td colspan="2">@if(dr.pregnant > 0) @dr.pregnant </td>
                        }
                    }                
                    <td>@Model.finalReport.pregnant</td>
                    <td>@Model.finalReport.pregnantChildren</td>
                    <td>@(@Model.finalReport.pregnant + @Model.finalReport.pregnantChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Пациенты из зон отдыха</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.restZone > 0) @dr.restZone </td>
                            <td>@if (dr.restZoneChildrens > 0) @dr.restZoneChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.restZone</td>
                    <td>@Model.finalReport.restZoneChildren</td>
                    <td>@(@Model.finalReport.restZone + @Model.finalReport.restZoneChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Инокраевые</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.outRegions > 0) @dr.outRegions </td>
                            <td>@if (dr.outRegionsChildrens > 0) @dr.outRegionsChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.outRegions</td>
                    <td>@Model.finalReport.outRegionsChildren</td>
                    <td>@(@Model.finalReport.outRegions + @Model.finalReport.outRegionsChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Иностранные граждне</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.forein > 0) @dr.forein </td>
                            <td>@if (dr.foreinChildrens > 0) @dr.foreinChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.forein</td>
                    <td>@Model.finalReport.foreinChildren</td>
                    <td>@(@Model.finalReport.forein + @Model.finalReport.foreinChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Прибывшие из ЛНР, ДНР</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.LNR_DNR > 0) @dr.LNR_DNR </td>
                            <td>@if (dr.LNR_DNRChildrens > 0) @dr.LNR_DNRChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.LNR_DNR</td>
                    <td>@Model.finalReport.LNR_DNRChildren</td>
                    <td>@(@Model.finalReport.LNR_DNR + @Model.finalReport.LNR_DNRChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Поступили переводом из другой МО</td>
                     @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.incomeHospital > 0) @dr.incomeHospital </td>
                            <td>@if (dr.incomeHospitalChildrens > 0) @dr.incomeHospitalChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.incomeHospital</td>
                    <td>@Model.finalReport.incomeHospitalChildren</td>
                    <td>@(@Model.finalReport.incomeHospital + @Model.finalReport.incomeHospitalChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Переведены в другое МО</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.outcomeHospital > 0) @dr.outcomeHospital </td>
                            <td>@if (dr.outcomeHospitalChildrens > 0) @dr.outcomeHospitalChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.outcomeHospital</td>
                    <td>@Model.finalReport.outcomeHospitalChildren</td>
                    <td>@(@Model.finalReport.outcomeHospital + @Model.finalReport.outcomeHospitalChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                
                @*НОЗООЛОГИИ *@

                <tr class="table-primary">
                    <td><b>Нозологии</b></td>
                    <td colspan="23"></td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>U07.1 COVID-19 </td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.U071 > 0) @dr.U071 </td>
                            <td>@if (dr.U071Childrens > 0) @dr.U071Childrens </td>
                        }
                    }
                    <td>@Model.finalReport.U071</td>
                    <td>@Model.finalReport.U071Children</td>
                    <td>@(@Model.finalReport.U071 + @Model.finalReport.U071Children)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>U07.2 COVID-19 </td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.U072 > 0) @dr.U072 </td>
                            <td>@if (dr.U072Childrens > 0) @dr.U072Childrens</td>
                        }
                    }
                    <td>@Model.finalReport.U072</td>
                    <td>@Model.finalReport.U072Children</td>
                    <td>@(@Model.finalReport.U072 + @Model.finalReport.U072Children)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>ОРИ</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.ORVI > 0) @dr.ORVI </td>
                            <td>@if (dr.ORVIChildrens > 0) @dr.ORVIChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.ORVI</td>
                    <td>@Model.finalReport.ORVIChildren</td>
                    <td>@(@Model.finalReport.ORVI + @Model.finalReport.ORVIChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Грипп</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.grippe > 0) @dr.grippe </td>
                            <td>@if (dr.grippeChildrens > 0) @dr.grippeChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.grippe</td>
                    <td>@Model.finalReport.grippeChildren</td>
                    <td>@(@Model.finalReport.grippe + @Model.finalReport.grippeChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Пневмония</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.pneumonia > 0) @dr.pneumonia </td>
                            <td>@if (dr.pneumoniaChildrens > 0) @dr.pneumoniaChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.pneumonia</td>
                    <td>@Model.finalReport.pneumoniaChildren</td>
                    <td>@(@Model.finalReport.pneumonia + @Model.finalReport.pneumoniaChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>ОКИ</td>
                     @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.OKI > 0) @dr.OKI </td>
                            <td>@if (dr.OKIChildrens > 0) @dr.OKIChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.OKI</td>
                    <td>@Model.finalReport.OKIChildren</td>
                    <td>@(@Model.finalReport.OKI + @Model.finalReport.OKIChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Менингит, энцефлит, миелит </td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.meningit > 0) @dr.meningit </td>
                            <td>@if (dr.meningitChildrens > 0) @dr.meningitChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.meningit</td>
                    <td>@Model.finalReport.meningitChildren</td>
                    <td>@(@Model.finalReport.meningit + @Model.finalReport.meningitChildren)</td>
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
                <tr class="table-secondary">
                    <td>Сепсис</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.sepsis > 0) @dr.sepsis </td>
                            <td>@if (dr.sepsisChildren > 0) @dr.sepsisChildren </td>
                        }
                    }
                    <td>@Model.finalReport.sepsis</td>
                    <td>@Model.finalReport.sepsisChildren</td>
                    <td>@(@Model.finalReport.sepsis + @Model.finalReport.sepsisChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Гепатит</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.hepatit > 0) @dr.hepatit </td>
                            <td>@if (dr.hepatitChildrens > 0) @dr.hepatitChildrens </td>
                        }
                    }
                    <td>@Model.finalReport.hepatit</td>
                    <td>@Model.finalReport.hepatitChildren</td>
                    <td>@(@Model.finalReport.hepatit + @Model.finalReport.hepatitChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>В-20</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.HIV > 0) @dr.HIV </td>
                            <td>@if (dr.HIVCildrens > 0) @dr.HIVCildrens</td>
                        }
                    }
                    <td>@Model.finalReport.HIV</td>
                    <td>@Model.finalReport.HIVCildren</td>
                    <td>@(@Model.finalReport.HIV + @Model.finalReport.HIVCildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Прочее</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td>@if(dr.other > 0) @dr.other </td>
                            <td>@if (dr.HIVCildrens > 0) @dr.otherChildrens</td>
                        }
                    }
                    <td>@Model.finalReport.other</td>
                    <td>@Model.finalReport.otherChildren</td>
                    <td>@(@Model.finalReport.other + @Model.finalReport.otherChildren)</td>
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
                <tr class="table-primary">
                    <td>Итого</td>
                    <td>@Model.deseaseSum11</td>
                    <td>@Model.deseaseSum11Children</td>
                    <td>@Model.deseaseSum1</td>
                    <td>@Model.deseaseSum1Children</td>
                    <td>@Model.deseaseSum3</td>
                    <td>@Model.deseaseSum3Children</td>
                    <td>@Model.deseaseSum4</td>
                    <td>@Model.deseaseSum4Children</td>
                    <td>@Model.deseaseSum5</td>
                    <td>@Model.deseaseSum5Children</td>
                    <td>@Model.deseaseSum6</td>
                    <td>@Model.deseaseSum6Children</td>
                    <td>@Model.deseaseSum7</td>
                    <td>@Model.deseaseSum7Children</td>
                    <td>@Model.deseaseSum91</td>
                    <td>@Model.deseaseSum91Children</td>
                    <td>@Model.deseaseSum90</td>
                    <td>@Model.deseaseSum90Children</td>   
                    <td>@Model.deseaseSum8</td>
                    <td>@Model.deseaseSum8Children</td>
                    <td>@Model.deseaseSumFinal</td>
                    <td>@Model.deseaseSumFinalChildren</td>
                    <td>@(@Model.deseaseSumFinal + @Model.deseaseSumFinalChildren)</td>
                    <td colspan="3" class="bg-transparent"></td>
                </tr>
                
                <tr class="table-secondary">
                    <td>Лица по уходу </td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td colspan="2" class="text-left">@if(dr.care > 0) @dr.care</td>  
                        }
                    }
                    <td colspan="3" class="text-center">@Model.finalReport.care</td>
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
                <tr class="table-secondary">
                    <td>Лица по уходу до 4х лет или детьми инвалидами</td>
                    @{
                        foreach(DepReport dr in Model.filteredReports){
                            <td colspan="2" class="text-left">@if(dr.careDisodered > 0) @dr.careDisodered</td>  
                        }
                    }
                    <td colspan="3" class="text-center">@Model.finalReport.careDisodered</td>
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
                <tr class="table-secondary">
                    <td>Количество человек в крулосуточном стационаре</td>
                    @{
                        <td>@(@Model.deseaseSum11 + @Model.depReport11.care)</td>
                        <td>@Model.deseaseSum11Children</td>
                        <td>@(@Model.deseaseSum1 + @Model.depReport1.care)</td>
                        <td>@Model.deseaseSum1Children</td>
                        <td>@(@Model.deseaseSum3 + @Model.depReport3.care)</td>
                        <td>@Model.deseaseSum3Children</td>
                        <td>@(@Model.deseaseSum4 + @Model.depReport4.care)</td>
                        <td>@Model.deseaseSum4Children</td>
                        <td>@(@Model.deseaseSum5 + @Model.depReport5.care)</td>
                        <td>@Model.deseaseSum5Children</td>
                        <td>@(@Model.deseaseSum6 + @Model.depReport6.care)</td>
                        <td>@Model.deseaseSum6Children</td>
                        <td>@(@Model.deseaseSum7 + @Model.depReport7.care)</td>
                        <td>@Model.deseaseSum7Children</td>
                        <td>@(@Model.deseaseSum91 + @Model.depReport91.care)</td>
                        <td>@Model.deseaseSum91Children</td>
                        <td>@(@Model.deseaseSum90 + @Model.depReport90.care)</td>
                        <td>@Model.deseaseSum90Children</td>
                        <td>@(@Model.deseaseSum8 + @Model.depReport8.care)</td>
                        <td>@Model.deseaseSum8Children</td>
                        <td>@*(@Model.deseaseSumFinal + Model.finalReport.care)*@</td>
                        <td>@*Model.deseaseSumFinalChildren*@</td>
                        <td>@(@Model.deseaseSumFinal + Model.finalReport.care + @Model.deseaseSumFinalChildren)</td>
                     }
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
                
                <tr class="table-secondary">
                    <td >Отказ от госпитализации</td>
                    <td colspan="20"></td>
                    <td><input id="reject" oninput="CountReject()" type="number" name="reject" class="reject" value="0"/></td>
                    <td><input id="rejectChildren" oninput="CountReject()" type="number" name="rejectChildrens" class="reject" value="0"/> </td>
                    <td class="text-center" id="sumRej"></td>
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
                <tr class="table-secondary">
                    <td >На амбулаторное лечение</td>
                    <td colspan="20"></td>
                    <td><input id="ambulance" oninput="CountReject()" type="number" name="existed" class="reject" value="0"/></td>
                    <td><input id="ambulanceChildren" oninput="CountReject()" type="number" name="existedChildrens" class="reject" value="0"/> </td>
                    <td class="text-center" id="sumAmb"></td>
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
                <tr class="table-secondary">
                    <td >В другое МО</td>
                    <td colspan="20"></td>
                    <td><input id="sendToMO" oninput="CountReject()" type="number" name="existed" class="reject" value="0"/></td>
                    <td><input id="sendToMOChildren" oninput="CountReject()" type="number" name="existedChildrens" class="reject" value="0"/> </td>
                    <td  class="text-center" id="sumOth"></td>
                    <td colspan="3" class="bg-transparent "></td>
                    <tr class="table-secondary">
                <tr>
                    <td >Всего не госпитализировано</td>
                    <td colspan="20"></td>
                    <td  class="text-center" id="sumAdults"></td>
                    <td  class="text-center" id="sumChild"></td>
                    <td  class="text-center" id="sumAll"></td>
                    <td colspan="3" class="bg-transparent "></td>
                </tr>
            </tbody>
        </table>

        <div class="row pt-5 ">
            <div class="row">
                <div class=" col-5">
                    <h3>Дежурная смена</h3>
                </div>
            </div>
            <div class="row pt-4">
                <div class=" col-5">
                    <h4>Врачи</h4>
                </div>
            </div>

            <div class="row ">
                @{
                    foreach(DutyDoc doc in Model.depDocs){
                        <form method="post">
                            <div class="row pb-2">
                                <div class="col-4">
                                    <select class="form-select" asp-for="newDoc.dutyDoc">
                                        <option selected >@doc.dutyDoc</option>
                                        @{
                                            foreach(string d in Model.doctors){
                                                <option value="@d">@d</option>
                                            }
                                        }
                                    </select>
                                </div> 
                                <div class="col-2">
                                    <input type="text" placeholder="Отделения" class="form-control" asp-for="newDoc.departments" value="@doc.departments"/>
                                </div> 
                                <div class="col-2 d-none">
                                    <input type="text" value="@DutyType.Department" class="form-control invisible" asp-for="newDoc.type" />
                                    <input type="text" value="@doc.Id" class="form-control invisible" asp-for="newDoc.Id" />
                                </div>
                                <div class="col-1 d-print-none">
                                    <input type="submit" value="&#128465" asp-page-handler="DeleteDoc" asp-route-id="@doc.Id"/>
                                    <input type="submit" value="&#9998" asp-page-handler="UpdateDoc" />
                                </div> 
                            </div>
                        </form>
                    }
                }
            </div>

            <form method="post">
                <div class="row d-print-none">
                    <div class="col-4">
                        <select class="form-select" asp-for="newDoc.dutyDoc">
                            <option selected disabled>Выбрать дежурного</option>
                            @{
                                foreach(string d in Model.doctors){
                                    <option value="@d">@d</option>
                                }
                            }
                        </select>
                    </div> 
                    <div class="col-2">
                         <input type="text" placeholder="Отделения" class="form-control" asp-for="newDoc.departments"/>
                    </div> 
                     <div class="col-2 d-none">
                        <input type="text" value="@DutyType.Department" class="form-control d-none" asp-for="newDoc.type" />
                        <input type="datetime" value="@Model.reportDate" class="form-control invisible" asp-for="newDoc.dutyDate" />
                    </div>
                    <div class="col-1">
                        <input type="submit" value="+" asp-page-handler="SaveDoc"/>
                    </div> 
                </div>
            </form>

            <div class="row pt-4">
                <div class=" col-5">
                    <h4>ОРИТ</h4>
                </div>
            </div>

            <div class="row">
                @{
                    foreach(DutyDoc doc in Model.oritDocs){
                        <form method="post">
                            <div class="row pb-2">
                                <div class="col-4">
                                    <select class="form-select" asp-for="newDoc.dutyDoc">
                                        <option selected >@doc.dutyDoc</option>
                                        @{
                                            foreach(string d in Model.doctors)
                                            {
                                                <option value="@d">@d</option>
                                            }
                                        }
                                    </select>
                                </div> 
                                <div class="col-2">
                                    <input type="text" placeholder="Отделения" class="form-control" asp-for="newDoc.departments" value="@doc.departments"/>
                                </div> 
                                <div class="col-2 d-none">
                                    <input type="text" value="@DutyType.Reanimanion" class="form-control invisible" asp-for="newDoc.type" />
                                    <input type="text" value="@doc.Id" class="form-control invisible" asp-for="newDoc.Id" />
                                </div>
                                <div class="col-1 d-print-none">
                                    <input type="submit" value="&#128465" asp-page-handler="DeleteDoc" asp-route-id="@doc.Id" />
                                    <input type="submit" value="&#9998" asp-page-handler="UpdateDoc"  />
                                </div> 
                            </div>
                        </form>
                    }
                }
            </div>

            <form method="post">
                <div class="row d-print-none">
                    <div class="col-4">
                        <select class="form-select" asp-for="newDoc.dutyDoc">
                            <option selected disabled>Выбрать дежурного</option>
                            @{
                                foreach(string d in Model.doctors){
                                    <option value="@d">@d</option>
                                }
                            }
                        </select>

                    </div> 
                    <div class="col-2">
                        <input type="text" value="ОРИТ" class="form-control" asp-for="newDoc.departments"/>
                    </div>
                    <div class="col-2 d-none">
                        <input type="text" value="@DutyType.Reanimanion" class="form-control invisible" asp-for="newDoc.type" />
                        <input type="datetime" value="@Model.reportDate" class="form-control invisible" asp-for="newDoc.dutyDate" />
                    </div>
                    <div class="col-1">
                        <input type="submit"  value="+" asp-page-handler="SaveDoc"/>
                    </div> 
                </div>
            </form>

             <div class="row pt-4">
                <div class=" col-5">
                    <h4>Компьютерная томография</h4>
                </div>
            </div>

            <div class="row">
                @{
                    foreach(DutyDoc doc in Model.ktDocs){
                        <form method="post">
                            <div class="row pb-2">
                                <div class="col-4">
                                    <select class="form-select" asp-for="newDoc.dutyDoc">
                                        <option selected >@doc.dutyDoc</option>
                                        @{
                                            foreach(string d in Model.doctors)
                                            {
                                                <option value="@d">@d</option>
                                            }
                                        }
                                    </select>
                                </div> 
                                <div class="col-2">
                                    <input type="text" placeholder="Отделения" class="form-control" asp-for="newDoc.departments" value="@doc.departments"/>
                                </div> 
                                <div class="col-2 d-none">
                                    <input type="text" value="@DutyType.Rentgenology" class="form-control invisible" asp-for="newDoc.type" />
                                    <input type="text" value="@doc.Id" class="form-control invisible" asp-for="newDoc.Id" />
                                </div>
                                <div class="col-1 d-print-none">
                                    <input type="submit" value="&#128465" asp-page-handler="DeleteDoc" asp-route-id="@doc.Id" />
                                    <input type="submit" value="&#9998" asp-page-handler="UpdateDoc" />
                                </div> 
                            </div>
                        </form>
                    }
                }
            </div>

            <form method="post">
                <div class="row d-print-none">
                    <div class="col-4">
                        <select class="form-select" asp-for="newDoc.dutyDoc">
                            <option selected disabled>Выбрать дежурного</option>
                            @{
                                foreach(string d in Model.doctors){
                                    <option value="@d">@d</option>
                                }
                            }
                        </select>
                    </div> 
                    <div class="col-2">
                        <input type="text" value="Врач КТ" class="form-control" asp-for="newDoc.departments"/>
                        <input type="datetime" value="@Model.reportDate" class="form-control invisible" asp-for="newDoc.dutyDate" />
                    </div>
                    <div class="col-2 d-none">
                        <input type="text" value="@DutyType.Rentgenology" class="form-control invisible" asp-for="newDoc.type" />
                    </div>
                    <div class="col-1">
                        <input type="submit"  value="+" asp-page-handler="SaveDoc"/>
                    </div> 
                </div>
            </form>           
        </div>

        <div class="row pt-5">
            <div class="col-6">
                <h3>Переводы и отказы</h3>
            </div>
            <div class="row text-end">
                <div class="col-3 text-start">Пациент</div>
                <div class="col-1">Пол</div>
                <div class="col-1">Возраст</div>
                <div class="col-2">Диагноз</div>
                <div class="col-1">Доставлен</div>
                <div class="col-1">Направлен</div>
                <div class="col-2">Переведен</div>
            </div>
            @{
                foreach(OutcomingPatient patient in Model.patients) {
                    <form method="post">
                    <div class="row pb-1 m-0 ">
                        <div class="col-4">
                            <input type="text" value="@patient.Name" class="form-control" asp-for="newPatient.Name"/>
                        </div>
                            <div class="col-1">
                                <select class="form-select" asp-for="newPatient.Gender">
                                    <option selected value="@patient.Gender">@patient.Gender</option>
                                    @{
                                        <option value="М">М</option>
                                        <option value="Ж">Ж</option>

                                    }
                                </select>
                            </div>
                     <div class="col-1">
                                <input type="number" step="0.1" value="@patient.Age" class="form-control" asp-for="newPatient.Age" />
                    </div>
                    <div class="col-1">
                        <input type="text" value="@patient.Diagnos" class="form-control" asp-for="newPatient.Diagnos"/>
                    </div>
                    <div class="col-1">
                        <select class="form-select" asp-for="newPatient.Shipped">
                            <option selected >@patient.Shipped</option>
                            @{
                                foreach(string s in Model.shipping){
                                    <option value="@s">@s</option>
                                }
                            }
                        </select>
                    </div> 
                    <div class="col-1">
                        <select class="form-select" asp-for="newPatient.SubmitedFrom">
                            <option selected>@patient.SubmitedFrom</option>
                            @{
                                foreach(string f in Model.submitedFrom){
                                    <option value="@f">@f</option>
                                }
                            }
                        </select>
                    </div> 
                    <div class="col-2">
                        <select class="form-select" asp-for="newPatient.SubmitedTo">
                            <option selected>@patient.SubmitedTo</option>
                            @{
                                foreach(string t in Model.submitedTo){
                                    <option value="@t">@t</option>
                                }
                            }
                        </select>
                    </div> 
                                <div class="col-1 d-none">
                                    <input type="text" value="@patient.Id" class="form-control invisible" asp-for="newPatient.Id" />
                                    <input type="datetime" value="@patient.Date" class="form-control invisible" asp-for="newPatient.Date" />
                                </div>
                        <div class="col-1 d-print-none">
                                <input type="submit" value="&#128465" asp-page-handler="DeletePaient" asp-route-id="@patient.Id" />
                                <input type="submit" value="&#9998" asp-page-handler="UpdatePatient" />
                        </div> 
                    </div>
                    </form>
                }
            }

            <form method="post">
                <div class="row d-print-none">
                    <div class="col-3">
                        <input type="text" placeholder="ФИО пациента" class="form-control" asp-for="newPatient.Name"/>
                        <input type="datetime" value="@Model.reportDate" class="form-control invisible" asp-for="newPatient.Date" />
                    </div>
                    <div class="col-1">
                        <select class="form-select" asp-for="newPatient.Gender">
                            <option selected disabled>Пол</option>
                            @{
                                <option value="М">М</option>
                                <option value="Ж">Ж</option>
                               
                            }
                        </select>
                    </div>
                    <div class="col-1">
                        <input type="number" step="0.1" placeholder="Возраст" class="form-control" asp-for="newPatient.Age"/>
                    </div>
                    <div class="col-2">
                        <input type="text" placeholder="Диагноз" class="form-control" asp-for="newPatient.Diagnos"/>
                    </div>
                    <div class="col-1">
                        <select class="form-select" asp-for="newPatient.Shipped">
                            <option selected disabled>Доставлен</option>
                            @{
                                foreach(string s in Model.shipping){
                                    <option value="@s">@s</option>
                                }
                            }
                        </select>
                    </div> 
                    <div class="col-1">
                        <select class="form-select" asp-for="newPatient.SubmitedFrom">
                            <option selected disabled>Направлен</option>
                            @{
                                foreach(string f in Model.submitedFrom){
                                    <option value="@f">@f</option>
                                }
                            }
                        </select>
                    </div> 
                    <div class="col-2">
                        <select class="form-select" asp-for="newPatient.SubmitedTo">
                            <option selected disabled>Переведен</option>
                            @{
                                foreach(string t in Model.submitedTo){
                                    <option value="@t">@t</option>
                                }
                            }
                        </select>
                    </div> 
                    <div class="col-1">
                        <input type="submit" value="+" asp-page-handler="SavePatients" />
                    </div> 
                </div>
            </form>
        </div>

        <div class="col-4 pt-3">
            <button class="d-print-none mt-2 action-print">Печать</button>
        </div>
     </div>
</div>