@page
@using DailyReport.Models
@model DailyReport.Pages.Reports.FinalReportModel
@{
}

<div class="container">
    <div class="row" >
        <table class="table m-0 p-0 table-bordered border-dark">
           
            <tbody>
                <tr>
                    <td rowspan="2">21 октября 2022</td>
                    <td colspan="2" rowspan="2">1-е ИО (42) грязная</td>
                    <td colspan="2" rowspan="2">3-е ИО (40) чистая</td>
                    <td colspan="2" rowspan="2">4-е ИО (40, 18 бюджет, 2д бюджет) чистая</td>
                    <td colspan="2" rowspan="2">5-е ИО (55) чистая</td>
                    <td colspan="2" rowspan="2">6-е ИО (50) чистая</td>
                    <td colspan="2" rowspan="2">7-е ИО (43) чистая</td>
                    <td colspan="4">ОРИТ (20)</td>
                    <td colspan="2" rowspan="2">Дневной стационар (10)</td>
                    <td colspan="3" rowspan="2">290 стационарных коек</td>
                    <td colspan="3" rowspan="2">Всего 300 с учетом дневного стационара</td>
                </tr>
                <tr> 
                    <td colspan ="2">Грязная</td>
                    <td colspan="2">Чистая</td>
                </tr>
                <tr>
                    <td>Всего: взрослые 155, детские 135, COVID-19: ВЗР-40, ДЕТ-10</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>
                    <td>Взр</td>
                    <td>Дет</td>                   
                </tr>
                <tr>
                    <td>Количество коек (фактическое)</td>
                    <td>32</td>
                    <td>10</td>
                    <td>1</td>
                    <td>39</td>
                    <td>38</td>
                    <td>2</td>
                    <td>1</td>
                    <td>54</td>
                    <td>40</td>
                    <td>10</td>
                    <td>35</td>
                    <td>8</td>
                    <td colspan="2">8</td>
                    <td colspan="2">12</td>
                    <td>7</td>
                    <td>3</td>
                    <td>155</td>
                    <td>135</td>
                    <td>290</td>
                    <td>152</td>
                    <td>138</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Состояло</td>
                    <td>@Model.depReport1.existed</td>
                    <td>@Model.depReport1.existedChildrens</td>
                    <td>@Model.depReport3.existed</td>
                    <td>@Model.depReport3.existedChildrens</td>
                    <td>@Model.depReport4.existed</td>
                    <td>@Model.depReport4.existedChildrens</td>
                    <td>@Model.depReport5.existed</td>
                    <td>@Model.depReport5.existedChildrens</td>
                    <td>@Model.depReport6.existed</td>
                    <td>@Model.depReport6.existedChildrens</td>
                    <td>@Model.depReport7.existed</td>
                    <td>@Model.depReport7.existedChildrens</td>
                    <td>@Model.depReport91.existed</td>
                    <td>@Model.depReport91.existedChildrens</td>
                    <td>@Model.depReport90.existed</td>
                    <td>@Model.depReport90.existedChildrens</td>
                    <td>@Model.depReport8.existed</td>
                    <td>@Model.depReport8.existedChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Поступило</td>
                    <td>@Model.depReport1.income</td>
                    <td>@Model.depReport1.incomeChildrens</td>
                    <td>@Model.depReport3.income</td>
                    <td>@Model.depReport3.incomeChildrens</td>
                    <td>@Model.depReport4.income</td>
                    <td>@Model.depReport4.incomeChildrens</td>
                    <td>@Model.depReport5.income</td>
                    <td>@Model.depReport5.incomeChildrens</td>
                    <td>@Model.depReport6.income</td>
                    <td>@Model.depReport6.incomeChildrens</td>
                    <td>@Model.depReport7.income</td>
                    <td>@Model.depReport7.incomeChildrens</td>
                    <td>@Model.depReport91.income</td>
                    <td>@Model.depReport91.incomeChildrens</td>
                    <td>@Model.depReport90.income</td>
                    <td>@Model.depReport90.incomeChildrens</td>
                    <td>@Model.depReport8.income</td>
                    <td>@Model.depReport8.incomeChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Выбыло</td>
                    <td>@Model.depReport1.outcome</td>
                    <td>@Model.depReport1.outcomeChildrens</td>
                    <td>@Model.depReport3.outcome</td>
                    <td>@Model.depReport3.outcomeChildrens</td>
                    <td>@Model.depReport4.outcome</td>
                    <td>@Model.depReport4.outcomeChildrens</td>
                    <td>@Model.depReport5.outcome</td>
                    <td>@Model.depReport5.outcomeChildrens</td>
                    <td>@Model.depReport6.outcome</td>
                    <td>@Model.depReport6.outcomeChildrens</td>
                    <td>@Model.depReport7.outcome</td>
                    <td>@Model.depReport7.outcomeChildrens</td>
                    <td>@Model.depReport91.outcome</td>
                    <td>@Model.depReport91.outcomeChildrens</td>
                    <td>@Model.depReport90.outcome</td>
                    <td>@Model.depReport90.outcomeChildrens</td>
                    <td>@Model.depReport8.outcome</td>
                    <td>@Model.depReport8.outcomeChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Прикреплено в ОРИТ</td>
                    <td>@Model.depReport1.attachedToORIT</td>
                    <td>@Model.depReport1.attachedToORITCildrens</td>
                    <td>@Model.depReport3.attachedToORIT</td>
                    <td>@Model.depReport3.attachedToORITCildrens</td>
                    <td>@Model.depReport4.attachedToORIT</td>
                    <td>@Model.depReport4.attachedToORITCildrens</td>
                    <td>@Model.depReport5.attachedToORIT</td>
                    <td>@Model.depReport5.attachedToORITCildrens</td>
                    <td>@Model.depReport6.attachedToORIT</td>
                    <td>@Model.depReport6.attachedToORITCildrens</td>
                    <td>@Model.depReport7.attachedToORIT</td>
                    <td>@Model.depReport7.attachedToORITCildrens</td>
                    <td>@Model.depReport91.attachedToORIT</td>
                    <td>@Model.depReport91.attachedToORITCildrens</td>
                    <td>@Model.depReport90.attachedToORIT</td>
                    <td>@Model.depReport90.attachedToORITCildrens</td>
                    <td>@Model.depReport8.attachedToORIT</td>
                    <td>@Model.depReport8.attachedToORITCildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td>Переведено из отделения</td>
                    <td>@Model.depReport1.movedOutDep</td>
                    <td>@Model.depReport1.movedOutDepChildrens</td>
                    <td>@Model.depReport3.movedOutDep</td>
                    <td>@Model.depReport3.movedOutDepChildrens</td>
                    <td>@Model.depReport4.movedOutDep</td>
                    <td>@Model.depReport4.movedOutDepChildrens</td>
                    <td>@Model.depReport5.movedOutDep</td>
                    <td>@Model.depReport5.movedOutDepChildrens</td>
                    <td>@Model.depReport6.movedOutDep</td>
                    <td>@Model.depReport6.movedOutDepChildrens</td>
                    <td>@Model.depReport7.movedOutDep</td>
                    <td>@Model.depReport7.movedOutDepChildrens</td>
                    <td>@Model.depReport91.movedOutDep</td>
                    <td>@Model.depReport91.movedOutDepChildrens</td>
                    <td>@Model.depReport90.movedOutDep</td>
                    <td>@Model.depReport90.movedOutDepChildrens</td>
                    <td>@Model.depReport8.movedOutDep</td>
                    <td>@Model.depReport8.movedOutDepChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Переведено в отделение</td>
                    <td>@Model.depReport1.movedInDep</td>
                    <td>@Model.depReport1.movedInDepChildrens</td>
                    <td>@Model.depReport3.movedInDep</td>
                    <td>@Model.depReport3.movedInDepChildrens</td>
                    <td>@Model.depReport4.movedInDep</td>
                    <td>@Model.depReport4.movedInDepChildrens</td>
                    <td>@Model.depReport5.movedInDep</td>
                    <td>@Model.depReport5.movedInDepChildrens</td>
                    <td>@Model.depReport6.movedInDep</td>
                    <td>@Model.depReport6.movedInDepChildrens</td>
                    <td>@Model.depReport7.movedInDep</td>
                    <td>@Model.depReport7.movedInDepChildrens</td>
                    <td>@Model.depReport91.movedInDep</td>
                    <td>@Model.depReport91.movedInDepChildrens</td>
                    <td>@Model.depReport90.movedInDep</td>
                    <td>@Model.depReport90.movedInDepChildrens</td>
                    <td>@Model.depReport8.movedInDep</td>
                    <td>@Model.depReport8.movedInDepChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Умерло</td>
                    <td>@Model.depReport1.died</td>
                    <td>@Model.depReport1.diedChildrens</td>
                    <td>@Model.depReport3.died</td>
                    <td>@Model.depReport3.diedChildrens</td>
                    <td>@Model.depReport4.died</td>
                    <td>@Model.depReport4.diedChildrens</td>
                    <td>@Model.depReport5.died</td>
                    <td>@Model.depReport5.diedChildrens</td>
                    <td>@Model.depReport6.died</td>
                    <td>@Model.depReport6.diedChildrens</td>
                    <td>@Model.depReport7.died</td>
                    <td>@Model.depReport7.diedChildrens</td>
                    <td>@Model.depReport91.died</td>
                    <td>@Model.depReport91.diedChildrens</td>
                    <td>@Model.depReport90.died</td>
                    <td>@Model.depReport90.diedChildrens</td>
                    <td>@Model.depReport8.died</td>
                    <td>@Model.depReport8.diedChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Состоит в отделении</td>
                    <td>@Model.depReport1.present</td>
                    <td>@Model.depReport1.presentChildrens</td>
                    <td>@Model.depReport3.present</td>
                    <td>@Model.depReport3.presentChildrens</td>
                    <td>@Model.depReport4.present</td>
                    <td>@Model.depReport4.presentChildrens</td>
                    <td>@Model.depReport5.present</td>
                    <td>@Model.depReport5.presentChildrens</td>
                    <td>@Model.depReport6.present</td>
                    <td>@Model.depReport6.presentChildrens</td>
                    <td>@Model.depReport7.present</td>
                    <td>@Model.depReport7.presentChildrens</td>
                    <td>@Model.depReport91.present</td>
                    <td>@Model.depReport91.presentChildrens</td>
                    <td>@Model.depReport90.present</td>
                    <td>@Model.depReport90.presentChildrens</td>
                    <td>@Model.depReport8.present</td>
                    <td>@Model.depReport8.presentChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Свободные места</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ИВЛ</td>
                    <td>@Model.depReport1.oIVL</td>
                    <td>@Model.depReport1.oIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport3.oIVL</td>
                    <td class="bg-dark">@Model.depReport3.oIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport4.oIVL</td>
                    <td class="bg-dark">@Model.depReport4.oIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport5.oIVL</tdclass>
                    <td class="bg-dark">@Model.depReport5.oIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport6.oIVL</td>
                    <td class="bg-dark">@Model.depReport6.oIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport7.oIVL</td>
                    <td class="bg-dark">@Model.depReport7.oIVLChildrens</td>
                    <td>@Model.depReport91.oIVL</td>
                    <td>@Model.depReport91.oIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport90.oIVL</td>
                    <td class="bg-dark">@Model.depReport90.oIVLChildrens</td>
                    <td>@Model.depReport8.oIVL</td>
                    <td>@Model.depReport8.oIVLChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>НИВЛ </td>
                    <td>@Model.depReport1.oNIVL</td>
                    <td>@Model.depReport1.oNIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport3.oNIVL</td>
                    <td class="bg-dark">@Model.depReport3.oNIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport4.oNIVL</td>
                    <td class="bg-dark">@Model.depReport4.oNIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport5.oNIVL</td>
                    <td class="bg-dark">@Model.depReport5.oNIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport6.oNIVL</td>
                    <td class="bg-dark">@Model.depReport6.oNIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport7.oNIVL</td>
                    <td class="bg-dark">@Model.depReport7.oNIVLChildrens</td>
                    <td>@Model.depReport91.oNIVL</td>
                    <td>@Model.depReport91.oNIVLChildrens</td>
                    <td class="bg-dark">@Model.depReport90.oNIVL</td>
                    <td class="bg-dark">@Model.depReport90.oNIVLChildrens</td>
                    <td>@Model.depReport8.oNIVL</td>
                    <td>@Model.depReport8.oNIVLChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                                <tr>
                    <td>НИВЛ+ВПО</td>
                    <td>@Model.depReport1.oNIVLVPO</td>
                    <td>@Model.depReport1.oNIVLVPOChildrens</td>
                    <td class="bg-dark">@Model.depReport3.oNIVLVPO</td>
                    <td class="bg-dark">@Model.depReport3.oNIVLVPOChildrens</td>
                    <td class="bg-dark">@Model.depReport4.oNIVLVPO</td>
                    <td class="bg-dark">@Model.depReport4.oNIVLVPOChildrens</td>
                    <td class="bg-dark">@Model.depReport5.oNIVLVPO</td>
                    <td class="bg-dark">@Model.depReport5.oNIVLVPOChildrens</td>
                    <td class="bg-dark">@Model.depReport6.oNIVLVPO</td>
                    <td class="bg-dark">@Model.depReport6.oNIVLVPOChildrens</td>
                    <td class="bg-dark">@Model.depReport7.oNIVLVPO</td>
                    <td class="bg-dark">@Model.depReport7.oNIVLVPOChildrens</td>
                    <td>@Model.depReport91.oNIVLVPO</td>
                    <td>@Model.depReport91.oNIVLVPOChildrens</td>
                    <td class="bg-dark">@Model.depReport90.oNIVLVPO</td>
                    <td class="bg-dark">@Model.depReport90.oNIVLVPOChildrens</td>
                    <td>@Model.depReport8.oNIVLVPO</td>
                    <td>@Model.depReport8.oNIVLVPOChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>НИВЛ+КМ</td>
                    <td>@Model.depReport1.oNIVLMask</td>
                    <td>@Model.depReport1.oNIVLMaskChildrens</td>
                    <td class="bg-dark">@Model.depReport3.oNIVLMask</td>
                    <td class="bg-dark">@Model.depReport3.oNIVLMaskChildrens</td>
                    <td class="bg-dark">@Model.depReport4.oNIVLMask</td>
                    <td class="bg-dark">@Model.depReport4.oNIVLMaskChildrens</td>
                    <td class="bg-dark">@Model.depReport5.oNIVLMask</td>
                    <td class="bg-dark">@Model.depReport5.oNIVLMaskChildrens</td>
                    <td class="bg-dark">@Model.depReport6.oNIVLMask</td>
                    <td class="bg-dark">@Model.depReport6.oNIVLMaskChildrens</td>
                    <td class="bg-dark">@Model.depReport7.oNIVLMask</td>
                    <td class="bg-dark">@Model.depReport7.oNIVLMaskChildrens</td>
                    <td>@Model.depReport91.oNIVLMask</td>
                    <td>@Model.depReport91.oNIVLMaskChildrens</td>
                    <td class="bg-dark">@Model.depReport90.oNIVLMask</td>
                    <td class="bg-dark">@Model.depReport90.oNIVLMaskChildrens</td>
                    <td>@Model.depReport8.oNIVLMask</td>
                    <td>@Model.depReport8.oNIVLMaskChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Лицевая маска</td>
                    <td>@Model.depReport1.oMask</td>
                    <td>@Model.depReport1.oMaskChildren</td>
                    <td class="bg-dark">@Model.depReport3.oMask</td>
                    <td class="bg-dark">@Model.depReport3.oMaskChildren</td>
                    <td class="bg-dark">@Model.depReport4.oMask</td>
                    <td class="bg-dark">@Model.depReport4.oMaskChildren</td>
                    <td class="bg-dark">@Model.depReport5.oMask</td>
                    <td class="bg-dark">@Model.depReport5.oMaskChildren</td>
                    <td class="bg-dark">@Model.depReport6.oMask</td>
                    <td class="bg-dark">@Model.depReport6.oMaskChildren</td>
                    <td class="bg-dark">@Model.depReport7.oMask</td>
                    <td class="bg-dark">@Model.depReport7.oMaskChildren</td>
                    <td>@Model.depReport91.oMask</td>
                    <td>@Model.depReport91.oMaskChildren</td>
                    <td class="bg-dark">@Model.depReport90.oMask</td>
                    <td class="bg-dark">@Model.depReport90.oMaskChildren</td>
                    <td>@Model.depReport8.oMask</td>
                    <td>@Model.depReport8.oMaskChildren</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Количество пациентов на кислороде</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Беременные</td>
                    <td colspan="2">@Model.depReport1.oMask</td>
                    
                    <td colspan="2">@Model.depReport3.oMask</td>
                    
                    <td colspan="2">@Model.depReport4.oMask</tdcolspan>
                    
                    <td colspan="2">@Model.depReport5.oMask</td>
                   
                    <td colspan="2">@Model.depReport6.oMask</td>
                    
                    <td colspan="2">@Model.depReport7.oMask</td>
                   
                    <td colspan="2">@Model.depReport91.oMask</td>
                    
                    <td colspan="2">@Model.depReport90.oMask</td>
                    
                    <td colspan="2">@Model.depReport8.oMask</td>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Пациенты из зон отдыха</td>
                    <td>@Model.depReport1.restZone</td>
                    <td>@Model.depReport1.restZoneChildrens</td>
                    <td>@Model.depReport3.restZone</td>
                    <td>@Model.depReport3.restZoneChildrens</td>
                    <td>@Model.depReport4.restZone</td>
                    <td>@Model.depReport4.restZoneChildrens</td>
                    <td>@Model.depReport5.restZone</td>
                    <td>@Model.depReport5.restZoneChildrens</td>
                    <td>@Model.depReport6.restZone</td>
                    <td>@Model.depReport6.restZoneChildrens</td>
                    <td>@Model.depReport7.restZone</td>
                    <td>@Model.depReport7.restZoneChildrens</td>
                    <td>@Model.depReport91.restZone</td>
                    <td>@Model.depReport91.restZoneChildrens</td>
                    <td>@Model.depReport90.restZone</td>
                    <td>@Model.depReport90.restZoneChildrens</td>
                    <td>@Model.depReport8.restZone</td>
                    <td>@Model.depReport8.restZoneChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Инокраевые</td>
                    <td>@Model.depReport1.outRegions</td>
                    <td>@Model.depReport1.outRegionsChildrens</td>
                    <td>@Model.depReport3.outRegions</td>
                    <td>@Model.depReport3.outRegionsChildrens</td>
                    <td>@Model.depReport4.outRegions</td>
                    <td>@Model.depReport4.outRegionsChildrens</td>
                    <td>@Model.depReport5.outRegions</td>
                    <td>@Model.depReport5.outRegionsChildrens</td>
                    <td>@Model.depReport6.outRegions</td>
                    <td>@Model.depReport6.outRegionsChildrens</td>
                    <td>@Model.depReport7.outRegions</td>
                    <td>@Model.depReport7.outRegionsChildrens</td>
                    <td>@Model.depReport91.outRegions</td>
                    <td>@Model.depReport91.outRegionsChildrens</td>
                    <td>@Model.depReport90.outRegions</td>
                    <td>@Model.depReport90.outRegionsChildrens</td>
                    <td>@Model.depReport8.outRegions</td>
                    <td>@Model.depReport8.outRegionsChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Иностранные граждне</td>
                    <td>@Model.depReport1.forein</td>
                    <td>@Model.depReport1.foreinChildrens</td>
                    <td>@Model.depReport3.forein</td>
                    <td>@Model.depReport3.foreinChildrens</td>
                    <td>@Model.depReport4.forein</td>
                    <td>@Model.depReport4.foreinChildrens</td>
                    <td>@Model.depReport5.forein</td>
                    <td>@Model.depReport5.foreinChildrens</td>
                    <td>@Model.depReport6.forein</td>
                    <td>@Model.depReport6.foreinChildrens</td>
                    <td>@Model.depReport7.forein</td>
                    <td>@Model.depReport7.foreinChildrens</td>
                    <td>@Model.depReport91.forein</td>
                    <td>@Model.depReport91.foreinChildrens</td>
                    <td>@Model.depReport90.forein</td>
                    <td>@Model.depReport90.foreinChildrens</td>
                    <td>@Model.depReport8.forein</td>
                    <td>@Model.depReport8.foreinChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Прибывшие из ЛНР, ДНР</td>
                    <td>@Model.depReport1.LNR_DNR</td>
                    <td>@Model.depReport1.LNR_DNRChildrens</td>
                    <td>@Model.depReport3.LNR_DNR</td>
                    <td>@Model.depReport3.LNR_DNRChildrens</td>
                    <td>@Model.depReport4.LNR_DNR</td>
                    <td>@Model.depReport4.LNR_DNRChildrens</td>
                    <td>@Model.depReport5.LNR_DNR</td>
                    <td>@Model.depReport5.LNR_DNRChildrens</td>
                    <td>@Model.depReport6.LNR_DNR</td>
                    <td>@Model.depReport6.LNR_DNRChildrens</td>
                    <td>@Model.depReport7.LNR_DNR</td>
                    <td>@Model.depReport7.LNR_DNRChildrens</td>
                    <td>@Model.depReport91.LNR_DNR</td>
                    <td>@Model.depReport91.LNR_DNRChildrens</td>
                    <td>@Model.depReport90.LNR_DNR</td>
                    <td>@Model.depReport90.LNR_DNRChildrens</td>
                    <td>@Model.depReport8.LNR_DNR</td>
                    <td>@Model.depReport8.LNR_DNRChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Поступили переводом из другой МО</td>
                    <td>@Model.depReport1.incomeHospital</td>
                    <td>@Model.depReport1.incomeHospitalChildrens</td>
                    <td>@Model.depReport3.incomeHospital</td>
                    <td>@Model.depReport3.incomeHospitalChildrens</td>
                    <td>@Model.depReport4.incomeHospital</td>
                    <td>@Model.depReport4.incomeHospitalChildrens</td>
                    <td>@Model.depReport5.incomeHospital</td>
                    <td>@Model.depReport5.incomeHospitalChildrens</td>
                    <td>@Model.depReport6.incomeHospital</td>
                    <td>@Model.depReport6.incomeHospitalChildrens</td>
                    <td>@Model.depReport7.incomeHospital</td>
                    <td>@Model.depReport7.incomeHospitalChildrens</td>
                    <td>@Model.depReport91.incomeHospital</td>
                    <td>@Model.depReport91.incomeHospitalChildrens</td>
                    <td>@Model.depReport90.incomeHospital</td>
                    <td>@Model.depReport90.incomeHospitalChildrens</td>
                    <td>@Model.depReport8.incomeHospital</td>
                    <td>@Model.depReport8.incomeHospitalChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Переведены в другое МО</td>
                    <td>@Model.depReport1.outcomeHospital</td>
                    <td>@Model.depReport1.outcomeHospitalChildrens</td>
                    <td>@Model.depReport3.outcomeHospital</td>
                    <td>@Model.depReport3.outcomeHospitalChildrens</td>
                    <td>@Model.depReport4.outcomeHospital</td>
                    <td>@Model.depReport4.outcomeHospitalChildrens</td>
                    <td>@Model.depReport5.outcomeHospital</td>
                    <td>@Model.depReport5.outcomeHospitalChildrens</td>
                    <td>@Model.depReport6.outcomeHospital</td>
                    <td>@Model.depReport6.outcomeHospitalChildrens</td>
                    <td>@Model.depReport7.outcomeHospital</td>
                    <td>@Model.depReport7.outcomeHospitalChildrens</td>
                    <td>@Model.depReport91.outcomeHospital</td>
                    <td>@Model.depReport91.outcomeHospitalChildrens</td>
                    <td>@Model.depReport90.outcomeHospital</td>
                    <td>@Model.depReport90.outcomeHospitalChildrens</td>
                    <td>@Model.depReport8.outcomeHospital</td>
                    <td>@Model.depReport8.outcomeHospitalChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Нозологии</b></td>
                    <td colspan="21"></td>
                </tr>
                <tr>
                    <td>U07.1 COVID-19 </td>
                    <td>@Model.depReport1.U071</td>
                    <td>@Model.depReport1.U071Childrens</td>
                    <td>@Model.depReport3.U071Childrens</td>
                    <td>@Model.depReport3.U071Childrens</td>
                    <td>@Model.depReport4.U071Childrens</td>
                    <td>@Model.depReport4.U071Childrens</td>
                    <td>@Model.depReport5.U071Childrens</td>
                    <td>@Model.depReport5.U071Childrens</td>
                    <td>@Model.depReport6.U071Childrens</td>
                    <td>@Model.depReport6.U071Childrens</td>
                    <td>@Model.depReport7.U071Childrens</td>
                    <td>@Model.depReport7.U071Childrens</td>
                    <td>@Model.depReport91.U071Childrens</td>
                    <td>@Model.depReport91.U071Childrens</td>
                    <td>@Model.depReport90.U071Childrens</td>
                    <td>@Model.depReport90.U071Childrens</td>
                    <td>@Model.depReport8.U071Childrens</td>
                    <td>@Model.depReport8.U071Childrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>U07.2 COVID-19 </td>
                    <td>@Model.depReport1.U072</td>
                    <td>@Model.depReport1.U072Childrens</td>
                    <td>@Model.depReport3.U072</td>
                    <td>@Model.depReport3.U072Childrens</td>
                    <td>@Model.depReport4.U072</td>
                    <td>@Model.depReport4.U072Childrens</td>
                    <td>@Model.depReport5.U072</td>
                    <td>@Model.depReport5.U072Childrens</td>
                    <td>@Model.depReport6.U072</td>
                    <td>@Model.depReport6.U072Childrens</td>
                    <td>@Model.depReport7.U072</td>
                    <td>@Model.depReport7.U072Childrens</td>
                    <td>@Model.depReport91.U072</td>
                    <td>@Model.depReport91.U072Childrens</td>
                    <td>@Model.depReport90.U072</td>
                    <td>@Model.depReport90.U072Childrens</td>
                    <td>@Model.depReport8.U072</td>
                    <td>@Model.depReport8.U072Childrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ОРИ</td>
                    <td>@Model.depReport1.ORVI</td>
                    <td>@Model.depReport1.ORVIChildrens</td>
                    <td>@Model.depReport3.ORVI</td>
                    <td>@Model.depReport3.ORVIChildrens</td>
                    <td>@Model.depReport4.ORVI</td>
                    <td>@Model.depReport4.ORVIChildrens</td>
                    <td>@Model.depReport5.ORVI</td>
                    <td>@Model.depReport5.ORVIChildrens</td>
                    <td>@Model.depReport6.ORVI</td>
                    <td>@Model.depReport6.ORVIChildrens</td>
                    <td>@Model.depReport7.ORVI</td>
                    <td>@Model.depReport7.ORVIChildrens</td>
                    <td>@Model.depReport91.ORVI</td>
                    <td>@Model.depReport91.ORVIChildrens</td>
                    <td>@Model.depReport90.ORVI</td>
                    <td>@Model.depReport90.ORVIChildrens</td>
                    <td>@Model.depReport8.ORVI</td>
                    <td>@Model.depReport8.ORVIChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Пневмония</td>
                    <td>@Model.depReport1.pneumonia</td>
                    <td>@Model.depReport1.pneumoniaChildrens</td>
                    <td>@Model.depReport3.pneumonia</td>
                    <td>@Model.depReport3.pneumoniaChildrens</td>
                    <td>@Model.depReport4.pneumonia</td>
                    <td>@Model.depReport4.pneumoniaChildrens</td>
                    <td>@Model.depReport5.pneumonia</td>
                    <td>@Model.depReport5.pneumoniaChildrens</td>
                    <td>@Model.depReport6.pneumonia</td>
                    <td>@Model.depReport6.pneumoniaChildrens</td>
                    <td>@Model.depReport7.pneumonia</td>
                    <td>@Model.depReport7.pneumoniaChildrens</td>
                    <td>@Model.depReport91.pneumonia</td>
                    <td>@Model.depReport91.pneumoniaChildrens</td>
                    <td>@Model.depReport90.pneumonia</td>
                    <td>@Model.depReport90.pneumoniaChildrens</td>
                    <td>@Model.depReport8.pneumonia</td>
                    <td>@Model.depReport8.pneumoniaChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ОКИ</td>
                    <td>@Model.depReport1.OKI</td>
                    <td>@Model.depReport1.OKIChildrens</td>
                    <td>@Model.depReport3.OKI</td>
                    <td>@Model.depReport3.OKIChildrens</td>
                    <td>@Model.depReport4.OKI</td>
                    <td>@Model.depReport4.OKIChildrens</td>
                    <td>@Model.depReport5.OKI</td>
                    <td>@Model.depReport5.OKIChildrens</td>
                    <td>@Model.depReport6.OKI</td>
                    <td>@Model.depReport6.OKIChildrens</td>
                    <td>@Model.depReport7.OKI</td>
                    <td>@Model.depReport7.OKIChildrens</td>
                    <td>@Model.depReport91.OKI</td>
                    <td>@Model.depReport91.OKIChildrens</td>
                    <td>@Model.depReport90.OKI</td>
                    <td>@Model.depReport90.OKIChildrens</td>
                    <td>@Model.depReport8.OKI</td>
                    <td>@Model.depReport8.OKIChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Менингит, энцефлит, миелит </td>
                    <td>@Model.depReport1.meningit</td>
                    <td>@Model.depReport1.meningitChildrens</td>
                    <td>@Model.depReport3.meningit</td>
                    <td>@Model.depReport3.meningitChildrens</td>
                    <td>@Model.depReport4.meningit</td>
                    <td>@Model.depReport4.meningitChildrens</td>
                    <td>@Model.depReport5.meningit</td>
                    <td>@Model.depReport5.meningitChildrens</td>
                    <td>@Model.depReport6.meningit</td>
                    <td>@Model.depReport6.meningitChildrens</td>
                    <td>@Model.depReport7.meningit</td>
                    <td>@Model.depReport7.meningitChildrens</td>
                    <td>@Model.depReport91.meningit</td>
                    <td>@Model.depReport91.meningitChildrens</td>
                    <td>@Model.depReport90.meningit</td>
                    <td>@Model.depReport90.meningitChildrens</td>
                    <td>@Model.depReport8.meningit</td>
                    <td>@Model.depReport8.meningitChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Гепатит</td>
                    <td>@Model.depReport1.hepatit</td>
                    <td>@Model.depReport1.hepatitChildrens</td>
                    <td>@Model.depReport3.hepatit</td>
                    <td>@Model.depReport3.meningit</td>
                    <td>@Model.depReport4.hepatit</td>
                    <td>@Model.depReport4.hepatitChildrens</td>
                    <td>@Model.depReport5.hepatit</td>
                    <td>@Model.depReport5.hepatitChildrens</td>
                    <td>@Model.depReport6.hepatit</td>
                    <td>@Model.depReport6.hepatitChildrens</td>
                    <td>@Model.depReport7.hepatit</td>
                    <td>@Model.depReport7.hepatitChildrens</td>
                    <td>@Model.depReport91.hepatit</td>
                    <td>@Model.depReport91.hepatitChildrens</td>
                    <td>@Model.depReport90.hepatit</td>
                    <td>@Model.depReport90.hepatitChildrens</td>
                    <td>@Model.depReport8.hepatit</td>
                    <td>@Model.depReport8.hepatitChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>В-20</td>
                    <td>@Model.depReport1.HIV</td>
                    <td>@Model.depReport1.HIVCildrens</td>
                    <td>@Model.depReport3.HIV</td>
                    <td>@Model.depReport3.HIVCildrens</td>
                    <td>@Model.depReport4.HIV</td>
                    <td>@Model.depReport4.HIVCildrens</td>
                    <td>@Model.depReport5.HIV</td>
                    <td>@Model.depReport5.HIVCildrens</td>
                    <td>@Model.depReport6.HIV</td>
                    <td>@Model.depReport6.HIVCildrens</td>
                    <td>@Model.depReport7.HIV</td>
                    <td>@Model.depReport7.HIVCildrens</td>
                    <td>@Model.depReport91.HIV</td>
                    <td>@Model.depReport91.HIVCildrens</td>
                    <td>@Model.depReport90.HIV</td>
                    <td>@Model.depReport90.HIVCildrens</td>
                    <td>@Model.depReport8.HIV</td>
                    <td>@Model.depReport8.HIVCildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Прочее</td>
                    <td>@Model.depReport1.other</td>
                    <td>@Model.depReport1.otherChildrens</td>
                    <td>@Model.depReport3.other</td>
                    <td>@Model.depReport3.otherChildrens</td>
                    <td>@Model.depReport4.other</td>
                    <td>@Model.depReport4.otherChildrens</td>
                    <td>@Model.depReport5.other</td>
                    <td>@Model.depReport5.otherChildrens</td>
                    <td>@Model.depReport6.other</td>
                    <td>@Model.depReport6.otherChildrens</td>
                    <td>@Model.depReport7.other</td>
                    <td>@Model.depReport7.otherChildrens</td>
                    <td>@Model.depReport91.other</td>
                    <td>@Model.depReport91.otherChildrens</td>
                    <td>@Model.depReport90.other</td>
                    <td>@Model.depReport90.otherChildrens</td>
                    <td>@Model.depReport8.other</td>
                    <td>@Model.depReport8.otherChildrens</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Итого</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>





   


</div>