@page
@using DailyReport.Models.WardsModels
@model DailyReport.Pages.Wards.DepartmentWardsModel
@{
    string msg;
    msg = Model.departmentNumber + " отделения";
    ViewData["Title"] = "Управление палатами" + msg;
}

<h4>Регистрация пациентов @msg</h4>

@{
    foreach (Ward ward in Model.wards)
    {
        string dirtyStyle = ward.IsDirtyZone ? "ward-dirty" : "";
        int counter = ward.Capacity > ward.PatientsInWard.Count ? ward.Capacity : ward.PatientsInWard.Count;
        <div class="container mt-1 @dirtyStyle">
            @{
                string style = "ward-open";
                if(ward.CanPut){
                    if(ward.PatientsInWard.Count >= ward.Capacity) style = "ward-full";
                }
                else
                {
                    style = "ward-close";
                }
            }
            <form method="post">   
                <div class="row ward-header">
                    <div class="col-2">
                        Палата @ward.Number
                    </div>
                    <div class="form-check form-switch col-2">
                        <input class="form-check-input" type="checkbox" asp-for="@ward.IsDirtyZone" >
                        <label class="form-check-label" for="">Грязная зона</label>
                    </div>
                    <div class="col-2 form-check form-switch">
                        <input class="form-check-input" type="checkbox" asp-for="@ward.CanPut">
                        <label class="form-check-label" for="">Палата открыта</label> 
                    </div>
                    <div class ="d-none col-1">
                        <input type="text" value="@ward.Number" asp-for="@ward.Number" />
                        <input  type="number" value="@ward.Capacity" asp-for="@ward.Capacity" />
                        <input type="number" value="@ward.Department" asp-for="@ward.Department" />
                        <input type="number" value="@ward.Id" asp-for="@ward.Id" />
                    </div>
                    <div class="col-1">
                        <input type="submit" value="&#9998" asp-page-handler="UpdateWard" />
                    </div>
                </div>
                <div class="row ward-header">
                                        <div class="col-2">
                                            ФИО пациента
                                        </div>
                                        <div class="col-2">
                                            Возраст пациента
                                        </div>
                                        <div class="col-1">
                                            Пол
                                        </div>
                                        <div class="col-1">
                                            Диагноз
                                        </div>
                                        <div class="col-1">
                                            Дата
                                        </div>
                                        <div class="col-1">
                                            Сыпь
                                        </div>
                                        <div class="col-1">
                                            Риск ВБИ
                                        </div>
                                        <div class="col-2">
                                            <h7>От главного</h7>
                                        </div>
                </div>
            </form>
                                
                @for(int i = 0; i < counter; i++){
                if (i < ward.PatientsInWard.Count)
                {
                    <form method="post">
                        <input class="d-none" type="number" value="@ward.PatientsInWard[i].Department" asp-for="@Model.newPatient.Department" />
                        <input class="d-none" type="text" value="@ward.PatientsInWard[i].WardNumber" asp-for="@Model.newPatient.WardNumber" />
                        <input class="d-none" type="number" value="@ward.PatientsInWard[i].Id" asp-for="@Model.newPatient.Id" />
                            <div class="row @style">
                                <div class="col-2">
                                    <input type="text" value="@ward.PatientsInWard[i].Name" asp-for="@Model.newPatient.Name" required />
                                </div>
                                <div class="col-2">
                                    <input type="text" value="@ward.PatientsInWard[i].sAge" asp-for="@Model.newPatient.sAge" required/>
                                </div>
                                @*<div class="col-1">
                                    <input class="m-width-100" type="number" value="@ward.PatientsInWard[i].Age" placeholder="Лет" asp-for="@Model.newPatient.Age" />
                                </div>
                                <div class="col-1">
                                    <input class="m-width-100" type="number" value="@ward.PatientsInWard[i].AgeMonts" placeholder="Мес" asp-for="@Model.newPatient.AgeMonts" />
                                </div>*@
                                <div class="col-1">
                                <input class="m-width-100" type="text" value="@ward.PatientsInWard[i].Male" placeholder="Пол" asp-for="@Model.newPatient.Male" required />
                                </div>
                                <div class="col-1">
                                <input class="m-width-100" type="text" value="@ward.PatientsInWard[i].Diagnos" placeholder="Диагноз" asp-for="@Model.newPatient.Diagnos" required />
                                </div>
                                <div class="col-1 ">
                                <input type="date" class="d-none" value="@ward.PatientsInWard[i].HospitalisationDate" asp-for="@Model.newPatient.HospitalisationDate" />
                                    @ward.PatientsInWard[i].HospitalisationDate.ToString("dd.MM.yy")
                                </div>
                                
                            @if(ward.PatientsInWard[i].HasRash) 
                                {
                                    <div class="form-check form-switch col-1">
                                        <input class="form-check-input" type="checkbox"  checked asp-for="@Model.newPatient.HasRash">
                                    </div>
                                }
                                else{
                                    <div class="form-check form-switch col-1">
                                        <input class="form-check-input" type="checkbox" asp-for="@Model.newPatient.HasRash">
                                    </div>
                                }
                            @if (ward.PatientsInWard[i].HasCareRisk)
                                {
                                    <div class="form-check form-switch col-1">
                                       <input class="form-check-input" type="checkbox" checked asp-for="@Model.newPatient.HasCareRisk" >
                                    </div>
                                }
                                else{
                                    <div class="form-check form-switch col-1">
                                        <input class="form-check-input" type="checkbox"  asp-for="@Model.newPatient.HasCareRisk">
                                    </div>
                                }
                            @if (ward.PatientsInWard[i].IsUntochable)
                                {
                                    <div class="form-check form-switch col-1">
                                            <input class="form-check-input" type="checkbox" checked asp-for="@Model.newPatient.IsUntochable">
                                    </div>
                                }
                                else{
                                    <div class="form-check form-switch col-1">
                                        <input class="form-check-input" type="checkbox" asp-for="@Model.newPatient.IsUntochable">
                                    </div>
                                }

                                <div class="col-1 ">
                                    <input type="submit" value="&#9998" asp-page-handler="UpdatePatient" />
                                    <input type="submit" value="&#128465" asp-page-handler="DeletePatient" />
                                </div>

                             </div> 
                    </form>
                }
                else {
                    <form method="post">
                        <input class="d-none" type="number" value="@ward.Department" asp-for="@Model.newPatient.Department"/>
                        <input class="d-none" type="text" value="@ward.Number" asp-for="@Model.newPatient.WardNumber" />
                            <div class="row @style">
                                <div class="col-2">
                                    <input  type="text" asp-for="@Model.newPatient.Name" required/>
                                </div>
                                <div class="col-2">
                                <input type="text" placeholder="" asp-for="@Model.newPatient.sAge" required />
                                </div>
                                @*<div class="col-1">
                                    <input class="m-width-100" type="number" placeholder="Возраст" asp-for="@Model.newPatient.Age"/>
                                </div>
                                <div class="col-1">
                                    <input class="m-width-100" type="number" placeholder="Мес" asp-for="@Model.newPatient.AgeMonts"/>
                                </div>*@
                                <div class="col-1">
                                <input class="m-width-100" type="text" placeholder="Пол" asp-for="@Model.newPatient.Male" required/>
                                </div>
                                <div class="col-1">
                                <input class="m-width-100" type="text" placeholder="Диагноз" asp-for="@Model.newPatient.Diagnos" required/>
                                </div>
                                <div class="col-1 ">
                                <input type="date" class="m-width-100" value="@DateTime.Now.ToString("dd.MM.yy")" asp-for="@Model.newPatient.HospitalisationDate" required />
                                </div>
                                <div class="col-1">
                                    <input  type="checkbox" asp-for="@Model.newPatient.HasRash">
                                </div>
                                <div class="col-1">
                                    <input  type="checkbox" asp-for="@Model.newPatient.HasCareRisk">
                                </div>
                                <div class="col-1">
                                    <input  type="checkbox" asp-for="@Model.newPatient.IsUntochable">
                                </div>
                                <div class="col-1 ">
                                    <input type="submit" value="+" asp-page-handler="AddPatient"/>
                                </div>
                            </div>
                    </form>
                }
            }      
        </div>
    }
}