@page
@using DailyReport.Models.WardsModels
@model DailyReport.Pages.Wards.DepartmentWardsModel
@{
}

@{
    foreach (Ward ward in Model.wards)
    {
        @if(ward.IsDirtyZone){}
        <div class="row">
            Палата @ward.Number
        </div>

        foreach(Patient patient in ward.PatientsInWard){
            <form method="post">
                <div class={@ward.CanPut ? 'ward-open row' : 'ward-close row' }>
                    <div class="col-3">
                        @patient.Name
                    </div>
                    <div class="col-2">
                        @patient.Age лет, @patient.AgeMonts мес
                    </div>
                    <div class="col-2">
                        @patient.Diagnos
                    </div>
                    <div class="col-2">
                        @patient.Male
                    </div>
                </div> 
            </form>
        }
        
    }
}